@use "vars" as *;
.night-theme {
	--wc-text-color: var(--wc-gray-200);
	--wc-bg-body: #222;

	--wc-blur-bg: rgba(50, 50, 50, 0.75);
	--wc-menu-link-color: var(--wc-text-color);
	--wc-active-text: var(--wc-white);
	--wc-hover-text: var(--wc-white);

	--wc-logo-fill: var(--wc-white);
	--wc-logo-dark: var(--wc-white);
	--wc-logo-light: var(--wc-black);

	--wc-select-options-bg: #2d2d2d;

	--wc-bt-color: var(--wc-white);
	--wc-bt-color-disabled: var(--wc-gray-700);
}
