<header id="header" class="header _lp">
	<div class="header__content">
		{% include "html/includes/_logo.njk" %}
		<div class="header__menu menu">
			<nav class="menu__body">
				<ul class="menu__list">
					<li class="menu__item">
						<a href="#portfolio-page" class="menu__link" data-key="headerNav1">Мои работы</a>
					</li>
					<li class="menu__item">
						<a href="#about-page" class="menu__link" data-key="headerNav2">Обо мне</a>
					</li>
					<li class="menu__item">
						<a href="#contacts-page" class="menu__link" data-key="headerNav3">Контакты</a>
					</li>
					<li class="menu__item">
						<a href="#form-page" class="menu__link" data-key="headerNav4">Форма</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="header__contacts" data-da=".menu,768.98,0">
			<a href="mailto:foresteraws@gmail.com" class="header__link bt-ic _ic-email"></a>
			<a href="https://t.me/MarkupDev" class="header__link bt-ic _ic-telegram" target=" _blank"></a>
			<button id="toggle-bg" type="button" class="bt-ic _ic-moon"></button>
			<div>
				<select id="language-select" class="header__select" name="lang">
					<option value="ua" selected>UA</option>
					<option value="en">EN</option>
					<option value="ru">RU</option>
				</select>
			</div>
		</div>
		<button type="button"  class="menu__bt bt-menu">
			<span></span>
			<span></span>
			<span></span>
		</button>

	</div>
</header>