<header id="header" class="header">
	<div class="header__content _container">
		{# <a href="#" class="header__logo"><img src="img/header/avatar.jpg" alt="Logo"/></a> #}
		{% include "html/includes/_logo.njk" %}
		<div class="header__menu menu">
			<nav class="menu__body">
				<ul class="menu__list">
					<li class="menu__item">
						<a href="#portfolio-page" class="menu__link" data-key="headerNav1">Мои работы</a>
					</li>
					<li class="menu__item">
						<a href="#about-page" class="menu__link" data-key="headerNav2">Обо мне</a>
					</li>
					<li class="menu__item">
						<a href="#contacts-page" class="menu__link" data-key="headerNav3">Контакты</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="header__contacts">
			<a href="mailto:foresteraws@gmail.com" class="header__link tooltip-container _icon-mail">
				<span class="tooltip-box">Подсказка на русском</span>
			</a>
			<a href="https://t.me/MarkupDev" class="header__link tooltip-container _icon-tekegram" target=" _blank">
				<span class="tooltip-box">Подсказка на русском</span>
			</a>
			<select id="language-select" class="header__select" name="lang">
				<option value="ua" selected>UA</option>
				<option value="en">EN</option>
				<option value="ru">RU</option>
			</select>
			<button id="toggle-bg" type="button" class="btn-theme">Theme</button>
		</div>

		<button class="menu__bt bt-menu">
			<span></span>
			<span></span>
			<span></span>
		</button>
	</div>
</header>