@use "vars" as *;
html,
body {
	scroll-behavior: smooth;
}

body {
	color: var(--wc-text-color);
	background-color: var(--wc-bg-body);
	font-size: 16px;
	font-weight: 400;
	padding-top: $paddingTop + $headerHeight;
	&._lock {
		overflow: hidden;
		touch-action: none;
		-ms-touch-action: none;
	}
}

.wrapper {
	width: 100%;
	min-height: 100%;
	// overflow: hidden;
	display: flex;
	flex-direction: column;
	position: relative;
	&._loaded {
	}
}

.page {
	flex: 1 1 auto;
}

.progress {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: var(--wc-primary);
	z-index: 10;
	display: none;
	&._scroll {
		display: block;
	}
}
