html,
body {
	scroll-behavior: smooth;
}

body {
	color: var(--wd-black);
	font-size: 18px;
	font-weight: 400;
	&._lock {
		overflow: hidden;
	}
}

.wrapper {
	width: 100%;
	min-height: 100%;
	// overflow: hidden;
	display: flex;
	flex-direction: column;
	position: relative;
	&._loaded {
	}
}

.page {
	flex: 1 1 auto;
}

.progress {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: rgb(233, 50, 50);
	z-index: 10;
	display: none;
	&._scroll {
		display: block;
	}
}
