@font-face {
	font-family: "icons";
	font-display: swap;
	src:
		url("../fonts/icons.woff") format("woff"),
		url("../fonts/icons.woff2#icons") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="_ic-"],
[class*=" _ic-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}
._ic-instagram:before {
	content: "\e900";
}
._ic-facebook:before {
	content: "\e901";
}
._ic-phone:before {
	content: "\e902";
}
._ic-telegram:before {
	content: "\e903";
}
._ic-moon:before {
	content: "\e904";
}
._ic-email:before {
	content: "\e905";
}
._ic-sun:before {
	content: "\e906";
}
._ic-inkedin:before {
	content: "\e907";
}
._ic-Github:before {
	content: "\e908";
}
._ic-chevron-down:before {
	content: "\e909";
}
._ic-chevron-left:before {
	content: "\e90a";
}
._ic-chevron-right:before {
	content: "\e90b";
}
._ic-chevron-up:before {
	content: "\e90c";
}
._ic-top-right:before {
	content: "\e90d";
}
._ic-download:before {
	content: "\e90e";
}
