$fontFamily: "OpenSans", sans-serif;
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1170;
$paddingTop: 16px;
$headerHeight: 60px;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
$md5: 374.98;
