@use "mixins" as *;
@include font("OpenSans", "OpenSans-Regular", "400", "normal");
@include font("OpenSans", "OpenSans-Semibold", "500", "normal");
@include font("OpenSans", "OpenSans-Bold", "700", "normal");
