@use "vars" as *;
.footer {
	// position: absolute;
	// bottom: 0;
	// left: 0;
	// z-index: 2;
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.7);
	@media (max-width: $md3+px) {
		height: 60px;
	}
	// .footer__content

	&__content {
	}

	// .footer__link

	&__link {
		color: #b2b3b3;
		display: block;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
			}
		}
		@media (max-width: $md4+px) {
			font-size: 14px;
		}
	}

	&__link-name {
		font-weight: 700;
	}
}

//====================================================================================================
