@use "vars" as *;
.header {
	height: 100px;
	position: relative;
	&::before,
	&::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	&::before {
		background-color: color-mix(in srgb, var(--wd-primary), transparent 55%);
		z-index: 5;
	}
	&::after {
		background: url("../img/header/header-bg.jpg") 0 0 / cover no-repeat;
		z-index: 4;
	}
	@media (max-width: $md3+px) {
		height: 65px;
		// z-index: 5;
	}
	// .header__content

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 16px;
		height: 100%;
	}

	// .header__logo

	&__logo {
		flex: 0 0 65px;
		height: auto;
		display: block;
		border: 2px solid rgb(161, 167, 161);
		border-radius: 50%;
		overflow: hidden;
		position: relative;
		z-index: 5;
		@media (max-width: $md3+px) {
			flex: 0 0 50px;
		}
		img {
			max-width: 100%;
		}
	}

	// .header__contacts

	&__contacts {
		flex: 0 1 auto;
		display: flex;
		align-items: center;
		gap: 16px;
		position: relative;
		z-index: 5;
		@media (max-width: $md3+px) {
			display: flex;
			align-items: center;
			margin: 0px 24px 0px 0px;
		}
	}
	//.header__link
	&__link {
		display: flex;
		align-items: center;
		cursor: pointer;
		color: rgba(223, 231, 224, 1);
		transition: all 0.4s ease 0s;
		z-index: 3;
		position: relative;
		font-size: 24px;
		@media (max-width: $md3+px) {
			margin: 0px 24px 0px 0px;
			font-size: 32px;
		}
	}
}
.menu {
	flex: 1 0 auto;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;

	@media (max-width: $md3+px) {
		justify-content: flex-end;
		flex: 1 1 auto;
		margin: 0px 30px 0px 0px;
	}
	// .menu__bt

	&__bt {
	}

	// .menu__body

	&__body {
		position: relative;
		z-index: 5;
		@media (max-width: $md3+px) {
			position: absolute;
			left: 0;
			top: 0;
			transform: translateY(-105%);
			width: 100%;
			height: 100vh;
			height: 100dvh;
			background-color: rgba(58, 121, 158, 1);
			padding: 120px 20px 20px 40px;
			transition: all 0.8s ease 0s;
			overflow: auto;
			z-index: 2;
			&::before {
				content: "";
				width: 100%;
				height: 65px;
				position: fixed;
				top: -100%;
				left: 0;
				background-color: rgba(58, 121, 158, 1);
				z-index: 3;
			}
			&._active {
				transform: translateY(0);
				&::before {
					top: 0;
				}
			}
		}
	}

	// .menu__list

	&__list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		@media (max-width: $md3+px) {
			display: block;
		}
	}

	// .menu__item

	&__item {
		margin: 0px 40px 0px 0px;
		&:last-child {
			margin: 0px;
		}
		@media (max-width: $md2+px) {
			margin: 0px 15px 0px 0px;
		}
		@media (max-width: $md3+px) {
			margin: 0px 0px 40px 0px;
			&:last-child {
				margin: 0px;
			}
		}
	}

	// .menu__link

	&__link {
		font-weight: 700;
		color: rgba(223, 231, 224, 1);
		transition: all 0.5s ease 0s;
		position: relative;
		padding: 5px 15px;
		border: 1.5px solid transparent;
		border-radius: 20px;
		@media (max-width: $md2+px) {
			padding: 5px 10px;
			font-size: 16px;
		}
		@media (max-width: $md3+px) {
			font-size: 20px;
		}
		@media (any-hover: hover) {
			&:hover {
				color: rgb(255, 255, 255);
				border: 1.5px solid #fff;
			}
		}
	}
}
.bt-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: relative;
		width: 35px;
		height: 25px;
		cursor: pointer;
		z-index: 5;
		background-color: inherit;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: rgba(223, 231, 224, 1);
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
//====================================================================================================
