@use "vars" as *;
.header {
	height: $headerHeight;
	position: fixed;
	top: $paddingTop;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	max-width: ($maxWidthContainer - 50) + px;
	z-index: 2;
	background: var(--wc-blur-bg);
	backdrop-filter: blur(30px);
	-webkit-backdrop-filter: blur(30px);
	border-radius: 12px;
	padding: 8px 16px;
	@media (max-width: ($md1 + px)) {
		width: calc(100% - 46px);
	}
	@media (max-width: ($md3 + px)) {
		height: 52px;
		width: calc(100% - 18px);
		padding: 4px 12px;
	}
	// .header__content

	&__content {
		display: flex;
		align-items: center;
		gap: 40px;
		height: 100%;
		@media (max-width: ($md1 + px)) {
			gap: 30px;
		}
	}

	// .header__contacts

	&__contacts {
		flex: 1 1 auto;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 10px;
		position: relative;
		z-index: 5;
		@media (max-width: ($md2 + px)) {
			gap: 16px;
		}
		@media (max-width: ($md3 + px)) {
			flex: 0 0 auto;
			align-self: center;
			gap: 20px;
		}
		@media (max-width: ($md4 + px)) {
			gap: 10px;
		}
	}
	//.header__link
	&__link {
	}
}
// menu
.menu {
	flex: 1 0 auto;
	height: auto;
	display: flex;
	align-items: center;
	position: relative;
	z-index: 5;
	@media (max-width: ($md2+px)) {
		flex-direction: column;
		justify-content: flex-start;
		gap: 40px;
		position: fixed;
		left: 0;
		top: $headerHeight + 10;
		transform: translateY(15px);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		width: 100%;
		height: calc(100vh - 100px);
		height: calc(100dvh - 100px);
		background: color-mix(in srgb, var(--wc-select-options-bg), transparent 0%);
		border: 1px solid color-mix(in srgb, var(--wc-text-color), transparent 85%);
		box-shadow: inset 0 0 8px 1px color-mix(in srgb, var(--wc-text-color), transparent 88%);
		border-radius: 12px;
		padding: 40px 20px 40px 20px;
		transition:
			transform 0.6s ease 0s,
			opacity 0.6s ease 0s,
			visibility 0.6s ease 0s;
		overflow: auto;
		z-index: 2;
		&._active {
			transform: translateY(0);
			opacity: 1;
			visibility: visible;
			pointer-events: auto;
		}
	}
	@media (max-width: ($md3 + px)) {
		top: 62px;
	}
	// .menu__bt

	&__bt {
	}

	// .menu__body

	&__body {
	}

	// .menu__list

	&__list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 20px;
		@media (max-width: ($md2+px)) {
			display: block;
		}
	}

	// .menu__item

	&__item {
		@media (max-width: ($md2+px)) {
			&:not(:last-child) {
				margin: 0px 0px 40px 0px;
			}
		}
	}

	// .menu__link

	&__link {
		font-size: 16px;
		font-weight: 400;
		color: var(--wc-menu-link-color);
		transition: all 0.5s ease 0s;
		position: relative;
		padding: 5px 0;
		&::after {
			content: "";
			border-radius: 50px;
			width: 0;
			height: 1px;
			position: absolute;
			bottom: 2px;
			left: 50%;
			transform: translateX(-50%);
			background-color: var(--wc-hover-text);
			transition: width 0.25s linear 0s;
		}
		&._active {
			color: var(--wc-active-text);
			&::after {
				width: 75%;
			}
		}
		@media (max-width: ($md2 + px)) {
			font-size: 28px;
			font-weight: 500;
			text-align: center;
			display: block;
		}
		@media (any-hover: hover) {
			&:hover {
				color: var(--wc-hover-text);
				&::after {
					width: 75%;
				}
			}
		}
	}
}
