:root {
	--wc-white: #ffffff;
	--wc-black: #000000;
	--wc-gray: #b2b3b3;
	--wc-gray-100: #dbdbdb;
	--wc-gray-200: #c5c5c5;
	--wc-gray-800: #272727;
	--wc-gray-900: #181818;
	--wc-primary: #19bd9a;
	--wc-secondary: #3a799e;
	--wc-danger: #e93232;

	--wc-text-color: var(--wc-black);
	--wc-bg-body: var(--wc-gray-100);

	--wc-blur-bg: rgba(182, 181, 181, 0.5);

	--wc-menu-link-color: var(--wc-text-color);
	--wc-active-text: var(--wc-gray-800);
	--wc-hover-text: var(--wc-gray-800);

	--wc-logo-fill: var(--wc-text-color);
	--wc-logo-dark: var(--wc-text-color);
	--wc-logo-light: var(--wc-black);

	--wc-select-options-bg: var(--wc-gray);
}
