//<МИКСИНЫ>=
@use "mixins";
//<Подключаем шрифты>
@use "fonts";
@use "icons";

//<ПЕРЕМЕННЫЕ>
@use "root";
@use "vars";
//</ПЕРЕМЕННЫЕ>

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=
@use "null";

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=
@use "globall";
@use "container";
//<ОСНОВНАЯ СЕТКА>
//</ОСНОВНАЯ СЕТКА>
//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>
@use "forms/select";
@use "forms/btn";
@use "tooltip";
@use "ui/card";
@use "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>
@use "header";
@use "home";
@use "footer";
@use "theme/theme";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>
