@use "vars" as *;
//<ОСНОВНОЙ БЛОК>====================================================================================================
.title {
	font-size: 32px;
	font-weight: 700;
	text-align: center;
	margin: 0px 0px 30px 0px;
	letter-spacing: 2px;
	color: var(--wc-text-color);
	&_white {
		color: rgba(255, 255, 255, 0.877);
	}
	@media (max-width: $md3+px) {
		font-size: 22px;
		margin: 0px 0px 10px 0px;
	}
}
h1 {
	&.title {
		font-size: 52px;
		line-height: 130%;
		@media (max-width: ($md2 + px)) {
			font-size: 32px;
		}
		@media (max-width: ($md3 + px)) {
			font-size: 24px;
		}
	}
}
//</ОСНОВНОЙ БЛОК>====================================================================================================
//====================================================================================================
._ibg {
	position: relative;
	img,
	svg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
body.ie {
	._ibg {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	._ibg img {
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;
	}
}
//====================================================================================================

//====================================================================================================
._tabs {
}
._tabs-item {
}
._tabs-block {
	display: none;
	&._active {
		display: block;
	}
}
//=====================================================================================================================
