{% set navListData = [
	{
		text: 'Все работы',
		filter: '*',
		key: 'filtersNav1',
		active:true
	}, {
		text: 'Лендинги',
		filter: '.lending',
		key: 'filtersNav2'
	}, {
		text: 'Многостраничные сайты',
		filter: '.many-pages',
		key: 'filtersNav3'
	}, {
		text: 'Анимации Css, Js',
		filter: '.animations',
		key: 'filtersNav4'
	}, {
		text: 'jQuery',
		filter: '.jquery',
		key: 'filtersNav5'
	}
] %}
{% set portfolioItems = [
	{	
		classes: 'lending animations',
		label: 'Bouncy',
		img: {src:'img/portfolio/Site1.jpg', alt:'Bouncy'},
		link:'https://andreywebcoder.github.io/Bouncy/Bouncy/',
		key:'textBouncy'
	},
	{	
		classes: 'lending animations',
		label: 'Frispes',
		img: {src:'img/portfolio/Site3.jpg', alt:'Frispes'},
		link:'https://andreywebcoder.github.io/Frispes/'
	},{	
		classes: 'lending',
		label: 'Finance',
		img: {src:'img/portfolio/Site2.jpg', alt:'Finance'},
		heightClass: 'card__img_height-3',
		link:'https://andreywebcoder.github.io/Finance/'
	},{	
		classes: 'lending animations',
		label: 'Guurmann',
		img: {src:'img/portfolio/Site4.jpg', alt:'Guurmann'},
		link:'https://andreywebcoder.github.io/Guurmann/'
	},{	
		classes: 'lending',
		label: 'Hungry',
		img: {src:'img/portfolio/Site5.jpg', alt:'Hungry'},
		link:'https://andreywebcoder.github.io/hungry/'
	},{	
		classes: 'many-pages',
		label: 'Аvenue-fashion',
		img: {src:'img/portfolio/ave-home.jpg', alt:'Аvenue-fashion(six page)'},
		link:'#ave',
		popup:true
	},{	
		classes: 'lending jquery',
		label: 'Sportshold',
		img: {src:'img/portfolio/Site7.jpg', alt:'Sportshold'},
		link:'https://andreywebcoder.github.io/Sportshold/'
	},{	
		classes: 'animations jquery',
		label: 'Yoga',
		img: {src:'img/portfolio/Site8.jpg', alt:'Yoga'},
		link:'https://andreywebcoder.github.io/Yoga/'
	},{	
		classes: 'lending',
		label: 'Table',
		img: {src:'img/portfolio/Site9.jpg', alt:'Table'},
		link:'https://andreywebcoder.github.io/gorizontal-scroll-table/'
	},{	
		classes: 'many-pages',
		label: 'Uzb',
		img: {src:'img/portfolio/SIte10.jpg', alt:'Uzb'},
		link:'https://andreywebcoder.github.io/Uzb-five-page/'
	}
	
] %}
{% set cardPrevave = [
	{
		title: 'Главная',
		img: 'img/portfolio/ave-home.jpg',
		alt: 'screenshot ave home',
		key: 'aveCardTitleHome',
		link: 'https://andreywebcoder.github.io/avenue-fashion/avenue-fashion/'
	},{
		title: 'Бренд',
		img: 'img/portfolio/ave-brand.jpg',
		alt: 'screenshot ave brand',
		key: 'aveCardTitleBrand',
		link: 'https://andreywebcoder.github.io/avenue-fashion/avenue-fashion/brand'
	},{
		title: 'Просмотр товара',
		img: 'img/portfolio/ave-product.jpg',
		alt: 'screenshot ave product view',
		key: 'aveCardTitleProduct',
		link: 'https://andreywebcoder.github.io/avenue-fashion/avenue-fashion/product-view'
	},{
		title: 'Обзоры товаров',
		img: 'img/portfolio/ave-look-book.jpg',
		alt: 'screenshot ave lookbook',
		key: 'aveCardTitleLookbook',
		link: 'https://andreywebcoder.github.io/avenue-fashion/avenue-fashion/lookbook'
	},{
		title: 'Местные магазины',
		img: 'img/portfolio/ave-local-stores.jpg',
		alt: 'screenshot ave lokal stores',
		key: 'aveCardTitleLokal',
		link: 'https://andreywebcoder.github.io/avenue-fashion/avenue-fashion/lokal'
	},{
		title: 'Форма регистрации',
		img: 'img/portfolio/ave-form.jpg',
		alt: 'screenshot ave form registration',
		key: 'aveCardTitleForm',
		link: 'https://andreywebcoder.github.io/avenue-fashion/avenue-fashion/register'
	}
] %}
{% set heroBadges = [
	{
		text: 'HTML 5',
		img: 'html-5',
		alt: 'icon html 5'
	}, {
		text: 'CSS 3',
		img: 'css3',
		alt: 'icon CSS 3'
	}, {
		text: 'Java Script',
		img: 'javascript',
		alt: 'icon javascript'
	}, {
		text: 'SCSS',
		img: 'sass',
		alt: 'icon SCSS'
	}
] %}

{% set aboutItems = [
	{
		title: 'html',
		text: 'Html код валидный, структурированный . Применяю: блочную верстку, семантику, методологию BEM. Использую шаблонизатор для Html Nunjucks',
		key:'aboutHtml',
		images: [
			{
				img: 'img/icons/html-5.svg',
				alt: 'icon html 5'
			}, {
				img: 'img/icons/nunjucks.svg',
				alt: 'icon nunjucks'
			}, {
				img: 'img/icons/gulp.svg',
				alt: 'icon gulp'
			}
		]
	}, {
		title: 'css/sass',
		key:'aboutCss',
		text: 'Применяю: валидные кроссбраузерные свойства CSS3, flexbox, grid layout, анимации, responsive верстка. Так же работаю на препроцесоре SCSS.',
		lg:true,
		images: [
			{
				img: 'img/icons/css3.svg',
				alt: 'icon css3'
			}, {
				img: 'img/icons/sass.svg',
				alt: 'icon sass'
			}, {
				img: 'img/icons/bootstrap.svg',
				alt: 'icon bootstrap'
			}, {
				img: 'img/icons/gulp.svg',
				alt: 'icon gulp'
			}
		]
	}, {
		title: 'js',
		key:'aboutJs',
		text: 'Применяю: различные плагины javascript, а так же написание чистого кода. Использую библиотеку jquery, а также различные плагины на ее базе. Добавление анимаций c помощью js.',
		lg:true,
		images: [
			{
				img: 'img/icons/javascript.svg',
				alt: 'icon javascript'
			}, {
				img: 'img/icons/jquery.svg',
				alt: 'icon jquery'
			}, {
				img: 'img/icons/gulp.svg',
				alt: 'icon gulp'
			}
		]
	}, {
		title: 'Макеты',
		key:'aboutUi',
		keyTitle:'aboutUiTitle',
		text: 'Работаю c макетами figma. А также: Adobe Photoshop с расширением psd. Работаю с различными другими графическими редакторами.',
		images: [
			{
				img: 'img/icons/figma.svg',
				alt: 'icon figma'
			}, {
				img: 'img/icons/photoshop.svg',
				alt: 'icon photoshop'
			}
		]
	}, {
		title: 'Другое',
		text: 'Работаю в редакторе кода VS Code. Работаю с Git, GitHub Сборщик проектов использую gulp',
		key:'aboutAther',
		keyTitle:'aboutAtherTitle',
		images: [
			{
				img: 'img/icons/visual-studio-code.svg',
				alt: 'icon visual studio code'
			}, {
				img: 'img/icons/git-hub.svg',
				alt: 'icon git hub'
			}, {
				img: 'img/icons/git.svg',
				alt: 'icon git'
			}, {
				img: 'img/icons/gulp.svg',
				alt: 'icon gulp'
			}
		]
	}
] %}

{% set contactsItems = [
	{
		text: 'E-mail',
		href: 'mailto:foresteraws@gmail.com',
		icon: '_ic-email'
	},{
		text: 'Telegram',
		href: 'https://t.me/MarkupDev',
		icon: '_ic-telegram'
	},{
		text: 'GitHub',
		href: 'https://github.com/andreyWebCoder?tab=repositories',
		icon: '_ic-github'
	},{
		text: 'Linkedin',
		href: 'https://www.linkedin.com/in/andrii-shupyk/',
		icon: '_ic-linkedin'
	}
] %}

{% set inputsData = [
	{
		keyLabel: 'labelName',
		keyInput: 'placeholderName',
		forId: 'inputFirstName',
		type: 'text',
		name: 'first name',
		required: true
	}, {
		keyLabel: 'labelLastName',
		keyInput: 'placeholderLastName',
		forId: 'inputLastName',
		type: 'text',
		name: 'last name'
	}, {
		keyLabel: 'labelEmail',
		keyInput: 'placeholderEmail',
		forId: 'inputEmail',
		type: 'email',
		name: 'email',
		required: true
	}, {
		keyLabel: 'labelTitle',
		keyInput: 'placeholderTitle',
		forId: 'inpuTitle',
		type: 'text',
		name: 'title'
	}, {
		keyLabel: 'labelMess',
		keyInput: 'placeholderMessage',
		forId: 'textarea',
		rows: '5',
		name: 'message',
		textarea: true,
		required: true
	}
] %}