{% import "html/data/_indexData.njk" as data %}
{% from "html/includes/_badge.njk" import badge%}
<!DOCTYPE html>
<html lang="ru">
	{% set title = "Главная страница" %}
	{% include "html/includes/_head.njk" %}

	<body>
		<script>
			function addDarkClass() {
				try {
					if (localStorage.getItem("theme") === "night-theme") {
						document
							.body
							.classList
							.add("night-theme");
						togButton
							.classList
							.remove("_ic-moon");
						togButton
							.classList
							.add("_ic-sun");
					} else {
						document
							.body
							.classList
							.remove("night-theme");
						togButton
							.classList
							.remove("_ic-sun");
						togButton
							.classList
							.add("_ic-moon");
					}
				} catch (err) {}
			}
		</script>
		<div class="progress"></div>
		<div class="wrapper">
			{% include "html/includes/_header.njk" %}
			<main class="page">
				<!-- ===================button scroll top============== -->
				<a href="#header" class="page__arrow"></a>
				<section class="page__hero hero">
					<div class="hero__container _container">
						<div class="hero__body">
							<div class="hero__content">
								<div class="hero__info">
									<h1 class="hero__title title" data-key="titleHero">Hi, I am <br> Shupyk Andrii</h1>
									<div class="hero__label" data-key="labelHero">UI Developer (HTML, CSS, JavaScript)</div>
									<a href="files/Profile.pdf" class="bt _ic-download"  download="CV UI Developer.pdf"  data-key="downloadHero">Download CV</a>
								</div>
								<div class="hero__img">
									<img src="img/hero/man.svg" alt="young man sitting with a laptop and waving his hand">
								</div>
							</div>
							<div class="hero__actions">
								{% for item in data.heroBadges %}
									{{badge(item, 'hero__badge')}}
								{% endfor %}
							</div>
						</div>
					</div>
				</section>
				<section id="portfolio-page" class="page__portfolio portfolio-page">
					<div class="portfolio-page__container _container">
						<h2 class="portfolio-page__title title" data-key="titleWork"></h2>
						<div class="portfolio-page__nav nav-portfolio">
							<ul class="nav-portfolio__list">
								{% for nav in data.navListData %}
									<li class="nav-portfolio__item">
										<a href="#" class="nav-portfolio__link {{'active' if nav.active}}" data-filter="{{ nav.filter }}" data-key="{{ nav.key }}">{{ nav.text }}</a>
									</li>
								{% endfor %}
							</ul>
						</div>
						<div class="portfolio-page__content">
							{% for item in data.portfolioItems %}
								<div class="portfolio-page__card card {{item.classes}}">
									<div class="card__item">
										<div class="card__img _ibg">
											<img src="{{ item.img.src }}" alt="{{ item.img.alt }}" >
										</div>
										<a href="{{ item.link }}" class="card__hover" target="_blank">
											<div class="card__label">
												<span>{{ item.label }}</span>
											</div>
											<p class="card__text">{{ item.text }}</p>
											<span class="card__label-btn">Посмотреть</span>
										</a>
									</div>
								</div>
							{% endfor %}
						</div>
						<nav class="pagination-nav" aria-label="Page navigation items with my works"></nav>
					</div>
				</section>
				<section id="about-page" class="page__about about-page">
					<div class="about-page__container _container">
						<h2 class="about-page__title title" data-key="titleAbout">Обо мне</h2>
						<p class="about-page__label"> Здравствуйте меня зовут Андрей, я Html верстальщик. Приветствую Вас на моем сайте.</p>
						<div class="about-page__study study-about-page">
							<div class="study-about-page__img _ibg">
								<img src="img/about/Sertifikat.png" alt="Сертификат">
							</div>
							<div class="study-about-page__see">
								<a href="https://fls.guru/certificate.html?%D0%90%D0%BD%D0%B4%D1%80%D0%B5%D0%B9_%D0%A8%D1%83%D0%BF%D0%B8%D0%BA_Andrey2020" class="study-about-page__linck btn" target="_blank">
									<span class="btn__text">Посмотреть</span>
									<span class="btn__waves"></span>
								</a>
							</div>
						</div>
						<div class="about-page__tabs tabs-about-page _tabs">
							<nav class="tabs-about-page__nav">
								<div class="tabs-about-page__item _tabs-item _active">
									<div class="tabs-about-page__img">
										<img src="img/icons/html-5.svg" alt="icon html">
									</div>
								</div>
								<div class="tabs-about-page__item _tabs-item">
									<div class="tabs-about-page__img">
										<img src="img/icons/css3.svg" alt="icon css">
									</div>
								</div>
								<div class="tabs-about-page__item _tabs-item">
									<div class="tabs-about-page__img">
										<img src="img/icons/javascript.svg" alt="icon js">
									</div>
								</div>
								<div class="tabs-about-page__item _tabs-item">
									<div class="tabs-about-page__img">
										<img src="img/icons/figma.svg" alt="icon figma">
									</div>
								</div>
							</nav>
							<div class="tabs-about-page__body">
								<div class="tabs-about-page__content _tabs-block _active">
									<h3 class="tabs-about-page__label">HTML5</h3>
									<p class="tabs-about-page__text">Валидный, структурированный Html код. Применяю: блочную верстку, семантику, методологию BEM. </p>
								</div>
								<div class="tabs-about-page__content _tabs-block">
									<h3 class="tabs-about-page__label">CSS3/SCSS</h3>
									<p class="tabs-about-page__text">Применяю: валидные кроссбраузерные свойства CSS3, flexbox, grid layout, анимации, responsive верстка. Так же работаю на препроцесоре SCSS. Использую свою сборку Gulp.</p>
								</div>
								<div class="tabs-about-page__content _tabs-block">
									<h3 class="tabs-about-page__label">js</h3>
									<p class="tabs-about-page__text">Применяю: различные плагины javascript, а так же написание чистого кода. Использую библиотеку jquery, а также различные плагины на ее базе. Добавление анимаций c помощью js. Использую свою сборку Gulp.</p>
								</div>
								<div class="tabs-about-page__content _tabs-block">
									<h3 class="tabs-about-page__label">Макеты</h3>
									<p class="tabs-about-page__text">Работаю c макетами figma. А также: Adobe Photoshop с расширением psd. Работаю с различными другими графическими редакторами.</p>
								</div>

							</div>
						</div>
					</div>
					<div class="about-page__paralax paralax" id="scene">
						<div class="paralax__item" data-depth="0.2">
							<img class="paralax__img paralax__img_position-1" src="img/icons/css3.svg" alt="icons css3">
						</div>
						<div class="paralax__item" data-depth="0.4">
							<img class="paralax__img paralax__img_position-2" src="img/icons/html-5.svg" alt="icon html5">
						</div>
						<div class="paralax__item" data-depth="0.4">
							<img class="paralax__img paralax__img_position-3" src="img/icons/javascript.svg" alt="icon javascript">
						</div>
						<div class="paralax__item" data-depth="0.2">
							<img class="paralax__img paralax__img_position-4" src="img/icons/figma.svg" alt="icon figma">
						</div>
						<div class="paralax__item" data-depth="0.6">
							<img class="paralax__img paralax__img_position-5" src="img/icons/gulp.svg" alt="icon gulp">
						</div>
						<div class="paralax__item" data-depth="0.2">
							<img class="paralax__img paralax__img_position-6" src="img/icons/git.svg" alt="icon git">
						</div>
						<div class="paralax__item" data-depth="0.2">
							<img class="paralax__img paralax__img_position-9" src="img/icons/sass-black.svg" alt="icon sass-black">
						</div>
						<div class="paralax__item" data-depth="0.3">
							<img class="paralax__img paralax__img_position-10" src="img/icons/jquery.svg" alt="icon jquery">
						</div>
						<div class="paralax__item" data-depth="0.3">
							<img class="paralax__img paralax__img_position-11" src="img/icons/js-black.svg" alt="icon js-black">
						</div>
						<div class="paralax__item" data-depth="0.1">
							<img class="paralax__img paralax__img_position-14" src="img/icons/sublime-text.svg" alt="icon sublime-text">
						</div>
						<div class="paralax__item" data-depth="0.1">
							<img class="paralax__img paralax__img_position-15" src="img/icons/visual-studio-code.svg" alt="icon visual-studio-code">
						</div>
						<div class="paralax__item" data-depth="0.1">
							<img class="paralax__img paralax__img_position-16" src="img/icons/breckets.svg" alt="icon breckets">
						</div>
					</div>
				</section>
				<section id="contacts-page" class="page__contacts contacts-page">
					<div class="contacts-page__container _container">
						<h2 class="contacts-page__title title title_white">Контакты</h2>
						<div class="contacts-page__links">
							<div class="contacts-page__item">
								<a href="tel:+380967591329" class="contacts-page__link">
									<span class="contacts-page__icon _ic-call"></span>
									<span class="contacts-page__text">
										<span>Позвонить:</span> +38&nbsp;(096)&nbsp;75-&nbsp;91-&nbsp;329
								</span>
								</a>
							</div>
							<div class="contacts-page__item">
								<a href="mailto:foresteraws@gmail.com" class="contacts-page__link">
									<span class="contacts-page__icon _ic-mail"></span>
									<span class="contacts-page__text">
										<span>Написать: </span>foresteraws@gmail.com</span>
								</a>
							</div>
							<div class="contacts-page__item">
								<a href="https://www.facebook.com/profile.php?id=100004303727534" class="contacts-page__link" target="_blank">
									<img src="img/icons/facebook.svg" alt="icon facebook">
									<span class="contacts-page__text">Facebook</span>
								</a>
							</div>
							<div class="contacts-page__item">
								<a href="https://t.me/Frylanser" class="contacts-page__link" target="_blank">
									<img src="img/icons/telegram.svg" alt="icon telegram">
									<span class="contacts-page__text">Telegram</span>
								</a>
							</div>
							<div class="contacts-page__item">
								<a href=" https://wa.me/+380967591329" class="contacts-page__link" target="_blank">
									<img src="img/icons/whatsapp.svg" alt="icon whatsapp">
									<span class="contacts-page__text">WhatsApp</span>
								</a>
							</div>
							<div class="contacts-page__item">
								<a href="https://www.instagram.com/andrey_shupyk/?hl=ru" class="contacts-page__link" target="_blank">
									<img src="img/icons/instagram.svg" alt="icon instagram">
									<span class="contacts-page__text">Instagram</span>
								</a>
							</div>
							<div class="contacts-page__item">
								<a href="https://github.com/Frilanser-of-UA?tab=repositories" class="contacts-page__link" target="_blank">
									<img src="img/icons/git-hub.svg" alt="icon git-hub">
									<span class="contacts-page__text">GitHub</span>
								</a>
							</div>
							<div class="contacts-page__item">
								<a href="Skype:s_andrey_w?chat" class="contacts-page__link" target="_blank">
									<img src="img/icons/scape.svg" alt="icon Skype">
									<span class="contacts-page__text">Skype</span>
								</a>
							</div>
						</div>
					</div>

				</section>
				<section id="form-page" class="page__form ">
					<div class="form-page__container _container">
						<h2 class="form-page__title title" data-key="titleForm">Send mail</h2>
						<form id="form" class="form" action="https://api.web3forms.com/submit" method="POST">

							<label for="inputName">
								<span>Name</span>
								<input id="inputName" class="input" type="text" name="name" required>
							</label>
							<label for="inputCity">
								<span>City</span>
								<input id="inputCity" class="input" type="text" name="city" required>
							</label>
							<label for="inputNumber">
								<span>Number</span>
								<input id="inputNumber" class="input" type="number" name="number" required>
							</label>
							<label for="inputEmail">
								<span>Email</span>
								<input id="inputEmail" class="input" type="email" name="email" required>
							</label>
							<label for="textarea">
								<span>Message</span>
								<textarea id="textarea" class="input" name="message" required></textarea>
							</label>
							<button class=" bt-theme" type="submit">Submit</button>
						</form>
					</div>

				</section>
			</main>
			{% include "html/includes/_footer.njk" %}
		</div>
		{% include "html/includes/_js.njk" %}
	</body>

</html>