@use "vars" as *;

.bt {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-direction: row-reverse;
	gap: 8px;
	cursor: pointer;
	padding: 14px 28px;
	font-size: 16px;
	font-weight: 500;
	color: var(--wc-bt-color);
	box-shadow: inset 0 0 8px 1px color-mix(in srgb, var(--wc-text-color), transparent 88%);
	background: color-mix(in srgb, var(--wc-text-color), transparent 92%);
	border: 1px solid color-mix(in srgb, var(--wc-text-color), transparent 85%);
	border-radius: 8px;
	transition: all 0.4s ease 0s;
	&::before {
		font-size: 22px;
		transition: transform 0.4s ease 0s;
	}
	@media (any-hover: hover) {
		&:hover {
			background-color: color-mix(in srgb, var(--wc-bt-bg-hover), transparent 30%);
			transform: translate(2px);
			box-shadow:
				0 0 10px color-mix(in srgb, var(--wc-text-color), transparent 85%),
				inset 0 0 8px 1px color-mix(in srgb, var(--wc-text-color), transparent 88%);
			&::before {
				transform: translateX(2px);
			}
		}
	}
	&:active {
		color: var(--wc-active-text);
		background-color: var(--wc-bt-bg-hover);
	}
	&:disabled,
	&.disabled {
		color: var(--wc-bt-color-disabled);
		pointer-events: none;
		background: color-mix(in srgb, var(--wc-text-color), transparent 100%);
	}
}
.bt-sm {
	gap: 6px;
	padding: 10px 18px;
	font-size: 14px;
	border-radius: 6px;
	&::before {
		font-size: 18px;
	}
}
.bt-ic {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	color: var(--wc-text-color);
	z-index: 3;
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 8px;
	box-shadow: inset 0 0 8px 1px color-mix(in srgb, var(--wc-text-color), transparent 88%);
	background: color-mix(in srgb, var(--wc-text-color), transparent 92%);
	border: 1px solid color-mix(in srgb, var(--wc-text-color), transparent 85%);
	transition:
		color 0.3s ease 0s,
		background 0.3s ease 0s;
	&::before {
		font-size: 20px;
	}
	@media (any-hover: hover) {
		&:hover {
			color: var(--wc-hover-text);
			background: color-mix(in srgb, var(--wc-text-color), transparent 85%);
		}
	}
	&:active {
		background: color-mix(in srgb, var(--wc-text-color), transparent 65%);
	}
	&:disabled,
	&.disabled {
		color: var(--wc-bt-color-disabled);
		pointer-events: none;
		background: color-mix(in srgb, var(--wc-text-color), transparent 100%);
	}
	@media (max-width: ($md3 + px)) {
		width: 60px;
		height: 60px;
		font-size: 20px;
		&::before {
			font-size: 32px;
		}
	}
}

.bt-menu {
	display: none;
	@media (max-width: ($md2 + px)) {
		display: block;
		position: relative;
		width: 36px;
		height: 40px;
		cursor: pointer;
		z-index: 5;
		background-color: inherit;
		span {
			transition: all 0.3s ease 0s;
			top: 50%;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: var(--wc-text-color);
			border-radius: 36px;
			&:not(:first-child, :last-child) {
				left: 50%;
				width: calc(100% - 10px);
				transform: translate(-50%, -50%);
			}
			&:first-child {
				top: 7px;
			}
			&:last-child {
				top: auto;
				bottom: 7px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
