@use "vars" as *;

.btn {
	flex: 0 0 280px;
	height: 60px;
	display: flex;
	transition: all 0.8s ease 0s;
	justify-content: center;
	align-items: center;
	border-radius: 0 0 10px 10px;
	overflow: hidden;
	position: relative;
	@media (any-hover: hover) {
		&:hover {
			border-radius: 10px;
			transition: all 0.8s ease 0.2s;
			// box-shadow: 0 0 40px rgba(25, 189, 153, 0.6);
			.btn__waves {
				top: -50px;
			}
		}
	}
	// .btn__text

	&__text {
		color: #464646;
		letter-spacing: 8px;
		text-transform: uppercase;
		position: relative;
		z-index: 1;
	}

	// .btn__waves

	&__waves {
		position: absolute;
		width: 280px;
		height: 280px;
		background-color: #19bd9a;
		top: 0;
		left: 0;
		box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
		transition: all 0.8s ease 0s;
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 50%;
			width: 250%;
			height: 250%;
			transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
		}
		&::before {
			background-color: rgb(243, 243, 243);
			border-radius: 48%;
			animation: waves 5s infinite linear;
		}
		&::after {
			background-color: rgba(243, 243, 243, 0.5);
			opacity: 0.5;
			border-radius: 44%;
			animation: waves 10s infinite linear;
		}
	}
	@keyframes waves {
		0% {
			transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
		}
		100% {
			transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
		}
	}
}

.btn-theme {
	background-color: var(--wd-primary);
	color: var(--wd-text);
	border: none;
	border-radius: 4px;
	padding: 8px 12px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	&:disabled {
		pointer-events: none;
		opacity: 0.5;
	}
}
