@use "../vars" as *;
//<SELECT (sel+tab)>====================================================================================================
.select {
	position: relative;
	// .select__item
	&__item {
		position: relative;
	}
	// .select__title
	&__title {
	}
	// .select__value
	&__value {
		font-size: 14px;
		font-weight: 500;
	}
	&__input {
		width: 100%;
		background-color: transparent;
		height: 100%;
	}
	// .select__options
	&__options {
		display: none;
		position: absolute;
		top: calc(100% + 12px);
		border-radius: 8px;
		min-width: 150%;
		right: 0;
		background: color-mix(in srgb, var(--wc-select-options-bg), transparent 20%);
		border: 1px solid color-mix(in srgb, var(--wc-text-color), transparent 85%);
		box-shadow: inset 0 0 8px 1px color-mix(in srgb, var(--wc-text-color), transparent 88%);
		font-size: 14px;
		font-weight: normal;
	}
	// .select__option
	&__option {
		cursor: pointer;
		padding: 6px 4px;
		text-align: center;
		margin: 0px 0px 0px 0px;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: var(--wc-hover-text);
				background-color: rgba(0, 0, 0, 0.1);
			}
		}
		@media (max-width: ($md2 + px)) {
			padding: 8px;
		}
	}
	&._active {
		z-index: 5;
	}
}
//</SELECT>====================================================================================================
