@use "vars" as *;
.badge {
	// .badge__inner
	background-color: var(--wc-secondary);
	box-shadow: 0 4px 6px 0 color-mix(in srgb, var(--wc-text-color), transparent 85%);
	border-radius: 24px;
	min-width: 160px;
	height: 90px;
	position: relative;
	@media (max-width: ($md3 + px)) {
		min-width: 120px;
		height: 75px;
		border-radius: 16px;
	}
	&__inner {
		padding: 24px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		@media (max-width: ($md3 + px)) {
			padding: 16px;
		}
	}

	// .badge__img

	&__img {
		position: absolute;
		top: 0;
		left: 50%;
		border: 8px solid var(--wc-bg-body);
		overflow: hidden;
		border-radius: 50%;
		transform: translate(-50%, -50%);
		background-color: var(--wc-white);
		@media (max-width: ($md3 + px)) {
			border-width: 5px;
		}
		img {
			transform: scale(0.9);
			width: 56px;
			height: 56px;
			@media (max-width: ($md3 + px)) {
				width: 44px;
				height: 44px;
			}
		}
	}

	// .badge__text

	&__text {
		font-weight: 500;
		font-size: 20px;
		line-height: 136%;
		margin-top: 22px;
		@media (max-width: ($md3 + px)) {
			font-size: 16px;
		}
	}
}
