@use "vars" as *;
.card {
	width: 100%;
	position: relative;
	opacity: 0;
	backface-visibility: hidden;
	will-change: transform, opacity;
	@media (any-hover: hover) {
		&:hover {
			.card__hover {
				left: 0;
				visibility: visible;
				opacity: 1;
			}
			.card__label {
				color: #0cecbc;
				span {
					&::before {
						left: 100%;
						transform: translate(-100%, 0);
						background-color: #0cecbc;
					}
				}
			}
		}
	}

	&.animate {
		animation: fadeInUp 0.6s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
	}

	// .card__item

	&__item {
		position: relative;
		height: auto;
		overflow: hidden;
		&._hover {
			.portfolio-page__hover {
				left: 0;
				visibility: visible;
				opacity: 1;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				.portfolio-page__hover {
					left: 0;
					visibility: visible;
					opacity: 1;
				}
			}
		}
	}
	// 1,5,9,13
	&:nth-child(4n + 1) {
		.card__img {
			padding-bottom: 85%;
			@media (max-width: ($md4 + px)) {
				padding-bottom: 80%;
			}
		}
	}
	// 2, 6, 10, 14,
	&:nth-child(4n + 2) {
		.card__img {
			padding-bottom: 65%;
			@media (max-width: ($md4 + px)) {
				padding-bottom: 80%;
			}
		}
	}
	// 3, 7, 11, 15,
	&:nth-child(4n + 3) {
		.card__img {
			padding-bottom: 65%;
			@media (max-width: ($md4 + px)) {
				padding-bottom: 80%;
			}
		}
	}
	// 4, 8, 12, 16
	&:nth-child(4n) {
		.card__img {
			padding-bottom: 85%;
			@media (max-width: ($md3 + px)) {
				padding-bottom: 65%;
			}
			@media (max-width: ($md4 + px)) {
				padding-bottom: 80%;
			}
		}
	}
	// .card__img

	&__img {
		transition: all 0.3s ease 0s;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
		padding: 0px 0px 55% 0px;
	}

	// .card__hover

	&__hover {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		text-align: center;
		background-color: rgba(0, 0, 0, 0.8);
		padding: 10px;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		transition: all 0.5s ease 0s;
		left: -100%;
		visibility: hidden;
		opacity: 0;
		@media (max-width: ($md3 + px)) {
			left: 0;
			visibility: visible;
			opacity: 1;
		}
		@media (max-width: ($md1 + px)) {
			padding: 5px;
		}
	}

	// .card__label

	&__label {
		letter-spacing: 0.2em;
		color: #19bd9a;
		display: inline-block;
		transition: all 0.3s ease 0s;

		@media (max-width: ($md1 + px)) {
			font-size: 14px;
		}
		@media (max-width: #{$md4 + px}) {
			font-size: 13px;
		}
		@media (max-width: 620px) {
			line-height: 160%;
		}
		span {
			position: relative;
			&::before {
				content: "";
				height: 1px;
				background-color: #19bd9a;
				width: 23px;
				position: absolute;
				bottom: -10px;
				left: 0;
				transition: all 0.8s ease 0s;
				@media (max-width: #{$md1+px}) {
					bottom: -5px;
				}
			}
		}
	}

	// .card__text

	&__text {
		letter-spacing: 0.05em;
		color: #b2b3b3;
		font-size: 16px;
		line-height: 120%;
		@media (max-width: #{$md1+px}) {
			font-size: 14px;
			line-height: 110%;
			flex: 0 0 auto;
		}
		@media (max-width: 620px) {
			display: none;
		}
	}

	// .card__label-btn

	&__label-btn {
	}
}
@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: scale(0.85) translateY(10px);
	}
	to {
		opacity: 1;
		transform: scale(1) translateY(0);
	}
}
