@use "vars" as *;
.card {
	width: 100%;
	position: relative;
	transform: scale(0);
	backface-visibility: hidden;
	will-change: transform, opacity;
	cursor: pointer;
	@media (any-hover: hover) {
		&:hover {
			.card__hover {
				visibility: visible;
				opacity: 1;
				transform: scale(1);
			}
		}
	}

	&.animate {
		animation: fadeInUp 0.6s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
	}

	// .card__item

	&__item {
		position: relative;
		height: auto;
		overflow: hidden;
		box-shadow: 0 0 5px color-mix(in srgb, var(--wc-black), transparent 50%);
	}
	// 1,5,9,13
	&:nth-child(4n + 1) {
		.card__img {
			padding-bottom: 85%;
			@media (max-width: 620px) {
				padding-bottom: 65%;
			}
		}
	}
	// 2, 6, 10, 14,
	&:nth-child(4n + 2) {
		.card__img {
			padding-bottom: 65%;
			@media (max-width: 620px) {
				padding-bottom: 65%;
			}
		}
	}
	// 3, 7, 11, 15,
	&:nth-child(4n + 3) {
		.card__img {
			padding-bottom: 65%;
			@media (max-width: 620px) {
				padding-bottom: 65%;
			}
		}
	}
	// 4, 8, 12, 16
	&:nth-child(4n) {
		.card__img {
			padding-bottom: 85%;
			@media (max-width: ($md2 + px)) {
				padding-bottom: 65%;
			}
			@media (max-width: 620px) {
				padding-bottom: 65%;
			}
		}
	}
	// .card__img

	&__img {
		transition: all 0.3s ease 0s;
		padding: 0px 0px 55% 0px;
	}

	// .card__hover

	&__hover {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		text-align: center;
		background-color: color-mix(in srgb, var(--wc-bg-body), transparent 10%);
		padding: 16px 8px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		gap: 24px;
		align-items: center;
		transition: all 0.5s ease 0s;
		visibility: hidden;
		opacity: 0;
		transform: scale(0);
		@media (max-width: ($md1 + px)) {
			padding: 8px;
			gap: 18px;
		}
		@media (max-width: ($md3 + px)) {
			visibility: visible;
			opacity: 1;
			transform: scale(1);
		}
		.bt {
			margin-top: auto;
		}
	}

	// .card__label

	&__label {
		display: inline-block;
		transition: all 0.3s ease 0s;
		@media (max-width: ($md1 + px)) {
			font-size: 14px;
		}
		@media (max-width: #{$md4 + px}) {
			font-size: 13px;
		}
		@media (max-width: 620px) {
			line-height: 160%;
		}
	}

	// .card__text

	&__text {
		letter-spacing: 0.05em;
		color: var(--wc-text-color);
		font-size: 16px;
		line-height: 120%;
		--clamp-line: 5;
		overflow: hidden;
		-o-text-overflow: ellipsis;
		text-overflow: ellipsis;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: var(--clamp-line);
		white-space: normal;
		height: auto;
		display: -webkit-box;
		padding: 0 4px;
		@media (max-width: #{$md1+px}) {
			font-size: 14px;
			line-height: 110%;
			flex: 0 0 auto;
			--clamp-line: 4;
		}
		// @media (max-width: 620px) {
		// 	display: none;
		// }
	}

	// .card__label-btn

	&__label-btn {
	}
}
@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: scale(0) translateY(10px);
	}
	to {
		opacity: 1;
		transform: scale(1) translateY(0);
	}
}

.card-inner {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 16px;
	@media (max-width: ($md3 + px)) {
		grid-template-columns: repeat(2, 1fr);
		gap: 12px;
	}
	@media (max-width: ($md4 + px)) {
		grid-template-columns: repeat(1, 1fr);
	}
}
.card-prev {
	height: 100%;
	box-shadow: 0 0 5px color-mix(in srgb, var(--wc-black), transparent 60%);
	// .card-prev__container

	&__container {
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	// .card-prev__img

	&__img {
		padding-bottom: 55%;
	}

	// .card-prev__row

	&__row {
		flex-grow: 1;
		padding: 12px 20px;
		background-color: var(--wc-gray-700);
		display: flex;
		flex-direction: column;
		gap: 18px;
		align-items: flex-start;
	}

	// .card-prev__title

	&__title {
		font-weight: 500;
		@media (max-width: ($md4 + px)) {
			font-size: 14px;
		}
	}
	.bt {
		margin-top: auto;
	}
}
.title-card {
	letter-spacing: 0.2em;
	color: var(--wc-primary);
	span {
		position: relative;
		&::before {
			content: "";
			height: 1px;
			background-color: var(--wc-primary);
			width: 23px;
			position: absolute;
			bottom: -5px;
			left: 0;
		}
	}
}
._touch {
	.card__hover {
		visibility: visible;
		opacity: 1;
		transform: scale(1);
	}
}
