@use "vars" as *;
.logo {
	flex: 0 0 164px;
	display: block;
	position: relative;
	z-index: 5;
	@media (max-width: ($md3 + px)) {
		margin: 0px auto 0px 0px;
		flex: 0 0 150px;
	}
	svg {
		display: block;
		width: 100%;
	}
}
