@use "vars" as *;

.logo,
.logo-mob {
	position: relative;
	z-index: 5;
	svg {
		display: block;
		width: 100%;
	}
}
.logo {
	flex: 0 0 164px;
	display: block;
	@media (max-width: ($md3 + px)) {
		margin: 0px auto 0px 0px;
		flex: 0 0 150px;
	}
	@media (max-width: ($md4 + px)) {
		display: none;
	}
}

.logo-mob {
	display: none;
	@media (max-width: ($md4 + px)) {
		display: block;
		margin: 0px auto 0px 0px;
		flex: 0 0 75px;
	}
}
