@use "vars" as *;
.pagination {
	margin-top: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;

	&__bt {
		letter-spacing: -0.02em;
		line-height: 1;
		color: var(--wc-text-color);
		border: 1px solid var(--wc-text-color);
		font-size: 16px;
		height: 36px;
		width: 36px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		transition: all 0.3s ease 0s;
		background-color: transparent;
		@media (max-width: ($md3 + px)) {
			height: 44px;
			width: 44px;
		}
		&::before {
			font-size: 24px;
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: var(--wc-blur-bg);
			}
		}

		&.active {
			border-width: 1px;
			border-color: var(--wc-primary);
		}

		&:disabled {
			color: var(--wc-gray-600);
			background-color: color-mix(in srgb, var(--wc-gray-600), transparent 50%);
			border-color: transparent;
			pointer-events: none;
		}
	}

	&__list {
		display: flex;
		margin: 0px 2px;
	}

	&__item {
	}
}
