@use "vars" as *;
.popup {
	-webkit-overflow-scrolling: touch;
	z-index: 100;
	padding: 30px 10px;
	position: fixed;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	&::before {
		content: "";
		background: color-mix(in srgb, var(--wc-black), transparent 10%);
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		transition: opacity 0.8s ease 0s;
	}
	&.show {
		visibility: visible;
		overflow: auto;
		&::before {
			opacity: 1;
		}
		.popup__body {
			transform: scale(1);
		}
	}
	&._active {
		overflow: auto;
		visibility: visible;
		&::before {
			opacity: 1;
		}
		.popup__body {
			transition: all 0.3s ease 0.2s;
			transform: scale(1);
		}
	}
	// .popup__content
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 100%;
		flex: 1 1 auto;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	// .popup__body
	&__body {
		transform: scale(0);
		transition: all 0.3s ease 0s;
		background-color: var(--wc-bg-body);
		padding: 50px;
		width: 100%;
		max-width: $maxWidthContainer + px;
		@media (max-width: ($md1 + px)) {
			padding: 30px 20px;
		}
	}
	// .popup__close
	&__close {
		background-color: transparent;
		font-size: 24px;
		line-height: 1;
		position: absolute;
		top: 8px;
		right: 8px;
		cursor: pointer;
		z-index: 30;
		color: var(--wc-text-color);
	}
}
//====================================================================================================
//====================================================================================================
