@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Semibold.woff") format("woff"), url("../fonts/OpenSans-Semibold.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=_ic-]:before,
[class*=" _ic-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_ic-]:before,
[class*=" _ic-"]:before {
  display: block;
}

._ic-send:before {
  content: "\e910";
}

._ic-phone-call:before {
  content: "\e901";
}

._ic-facebook:before {
  content: "\e902";
}

._ic-github:before {
  content: "\e903";
}

._ic-linkedin:before {
  content: "\e907";
}

._ic-telegram:before {
  content: "\e908";
}

._ic-instagram:before {
  content: "\e900";
}

._ic-moon:before {
  content: "\e904";
}

._ic-email:before {
  content: "\e905";
}

._ic-sun:before {
  content: "\e906";
}

._ic-chevron-down:before {
  content: "\e909";
}

._ic-chevron-left:before {
  content: "\e90a";
}

._ic-chevron-right:before {
  content: "\e90b";
}

._ic-chevron-up:before {
  content: "\e90c";
}

._ic-top-right:before {
  content: "\e90d";
}

._ic-download:before {
  content: "\e90e";
}

._ic-close:before {
  content: "\e90f";
}

._ic-check-fill:before {
  content: "\e911";
}

:root {
  --wc-white: #ffffff;
  --wc-black: #000000;
  --wc-gray-100: #dbdbdb;
  --wc-gray-200: #c5c5c5;
  --wc-gray: #b2b3b3;
  --wc-gray-600: #828282;
  --wc-gray-700: #525252;
  --wc-gray-800: #272727;
  --wc-gray-900: #181818;
  --wc-primary: #19bd9a;
  --wc-secondary: #455174;
  --wc-danger: #e93232;
  --wc-text-color: var(--wc-black);
  --wc-bg-body: var(--wc-gray-100);
  --wc-blur-bg: rgba(182, 181, 181, 0.5);
  --wc-menu-link-color: var(--wc-text-color);
  --wc-active-text: var(--wc-gray-800);
  --wc-hover-text: var(--wc-gray-800);
  --wc-logo-fill: var(--wc-text-color);
  --wc-logo-dark: var(--wc-text-color);
  --wc-logo-light: var(--wc-black);
  --wc-select-options-bg: var(--wc-gray);
  --wc-bt-color: var(--wc-black);
  --wc-bt-color-disabled: var(--wc-gray);
  --wc-bt-bg-hover: var(--wc-primary);
  --wc-item-bg: var(--wc-gray);
  --wc-input-color: var(--wc-bt-color);
  --wc-input-box-shadow: var(--wc-text-color);
  --wc-input-bg: var(--wc-text-color);
  --wc-input-border-color: var(--wc-text-color);
  --wc-input-placeholder-color: var(--wc-gray-600);
  --wc-scroll-bg: var(--wc-white);
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "OpenSans", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "OpenSans", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

button,
a,
input,
textarea {
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  color: var(--wc-text-color);
  background-color: var(--wc-bg-body);
  font-size: 16px;
  font-weight: 400;
  padding-top: 76px;
}
body._lock {
  overflow: hidden;
  touch-action: none;
  -ms-touch-action: none;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.page {
  flex: 1 1 auto;
}

.progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--wc-primary);
  z-index: 10;
  display: none;
}
.progress._scroll {
  display: block;
}

* ::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

* scrollbar {
  width: 9px;
  height: 9px;
}

* ::-webkit-scrollbar-track {
  background-color: var(--wc-scroll-bg);
  border-radius: 50px;
}

* scrollbar-track {
  background-color: var(--wc-scroll-bg);
  border-radius: 50px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--wc-gray-600);
  border: 2px solid var(--wc-scroll-bg);
  height: 20%;
  border-radius: 50px;
}

* scrollbar-thumb {
  background-color: var(--wc-gray-600);
  border: 2px solid var(--wc-scroll-bg);
  height: 20%;
}

._container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 25px;
}
@media (max-width: 767.98px) {
  ._container {
    padding: 0 10px;
  }
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 38px 20px;
  max-width: 720px;
  margin: 0 auto;
  padding-top: 15px;
}
@media (max-width: 767.98px) {
  .form {
    grid-template-columns: repeat(1, 1fr);
    gap: 32px 0;
    padding-top: 20px;
  }
}
.form__line {
  position: relative;
}
.form__line:nth-child(-n+4) {
  grid-column: auto/span 1;
}
.form__line {
  grid-column: auto/span 2;
}
@media (max-width: 767.98px) {
  .form__line {
    grid-column: auto/span 1;
  }
}
.form .bt {
  width: 50%;
  grid-column: auto/span 2;
  margin: 0 auto;
}
@media (max-width: 767.98px) {
  .form .bt {
    grid-column: auto/span 1;
    width: 100%;
  }
}

.form-label {
  margin-bottom: 8px;
  margin-left: 4px;
  display: block;
  font-weight: 500;
}

.form-error-message {
  color: var(--wc-danger);
  position: absolute;
  padding-left: 6px;
  padding-top: 4px;
  font-size: 14px;
  top: 100%;
}

.form__line:has([required]) .form-label::after {
  content: "*";
  padding-inline: 0.25em;
  color: var(--wc-danger);
}

.form-success {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media (max-width: 479.98px) {
  .form-success {
    gap: 12px;
  }
}
.form-success__ic {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--wc-primary);
  font-size: 48px;
  width: 65px;
  height: 65px;
  border: 4px solid var(--wc-primary);
  border-radius: 50%;
}
@media (max-width: 479.98px) {
  .form-success__ic {
    font-size: 36px;
    width: 55px;
    height: 55px;
  }
}
.form-success__title {
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 24px;
  font-weight: 500;
}
@media (max-width: 479.98px) {
  .form-success__title {
    font-size: 20px;
  }
}
.form-success__text {
  font-size: 18px;
  text-align: center;
  width: 85%;
  line-height: 125%;
}
@media (max-width: 479.98px) {
  .form-success__text {
    font-size: 16px;
    width: 100%;
  }
}

.select {
  position: relative;
}
.select__item {
  position: relative;
}
.select__value {
  font-size: 14px;
  font-weight: 500;
}
.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}
.select__options {
  display: none;
  position: absolute;
  top: calc(100% + 12px);
  border-radius: 8px;
  min-width: 150%;
  right: 0;
  background: color-mix(in srgb, var(--wc-select-options-bg), transparent 20%);
  border: 1px solid color-mix(in srgb, var(--wc-text-color), transparent 85%);
  box-shadow: inset 0 0 8px 1px color-mix(in srgb, var(--wc-text-color), transparent 88%);
}
.select__option {
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
  padding: 6px 4px;
  text-align: center;
  margin: 0px 0px 0px 0px;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .select__option:hover {
    color: var(--wc-hover-text);
    background-color: rgba(0, 0, 0, 0.1);
  }
}
@media (max-width: 991.98px) {
  .select__option {
    padding: 8px;
  }
}
@media (max-width: 767.98px) {
  .select__option {
    padding: 14px 10px;
  }
}
.select._active {
  z-index: 5;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  padding: 8.5px 16px;
  font-size: 14px;
  border-radius: 6px;
  width: 100%;
  display: block;
  color: var(--wc-input-color);
  box-shadow: inset 0 0 8px 1px color-mix(in srgb, var(--wc-input-box-shadow), transparent 88%);
  background: color-mix(in srgb, var(--wc-input-bg), transparent 92%);
  border: 1px solid color-mix(in srgb, var(--wc-input-border-color), transparent 85%);
  transition: box-shadow 0.3s ease 0s, background 0.3s ease 0s, border-color 0.3s ease 0s;
}
.input::placeholder {
  color: var(--wc-input-placeholder-color);
}
@media (any-hover: hover) {
  .input:hover {
    --wc-input-box-shadow: var(--wc-primary);
    --wc-input-border-color: var(--wc-primary);
    background: color-mix(in srgb, var(--wc-input-bg), transparent 85%);
    border: 1px solid color-mix(in srgb, var(--wc-input-border-color), transparent 50%);
  }
}
.input:focus {
  --wc-input-box-shadow: var(--wc-primary);
  --wc-input-border-color: var(--wc-primary);
  background: color-mix(in srgb, var(--wc-input-bg), transparent 80%);
  border: 1px solid color-mix(in srgb, var(--wc-input-border-color), transparent 40%);
  box-shadow: inset 0 0 12px 1px color-mix(in srgb, var(--wc-input-box-shadow), transparent 80%);
}
.input._error {
  --wc-input-box-shadow: var(--wc-danger);
  --wc-input-border-color: var(--wc-danger);
  --wc-input-bg: var(--wc-danger);
  background: color-mix(in srgb, var(--wc-input-bg), transparent 80%);
  border: 1px solid color-mix(in srgb, var(--wc-input-border-color), transparent 40%);
  box-shadow: inset 0 0 12px 1px color-mix(in srgb, var(--wc-input-box-shadow), transparent 80%);
}

textarea.input {
  resize: vertical;
}

.bt {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 8px;
  cursor: pointer;
  padding: 14px 28px;
  font-size: 16px;
  font-weight: 500;
  color: var(--wc-bt-color);
  box-shadow: inset 0 0 8px 1px color-mix(in srgb, var(--wc-text-color), transparent 88%);
  background: color-mix(in srgb, var(--wc-text-color), transparent 92%);
  border: 1px solid color-mix(in srgb, var(--wc-text-color), transparent 85%);
  border-radius: 8px;
  transition: all 0.4s ease 0s;
}
.bt::before {
  font-size: 22px;
  transition: transform 0.4s ease 0s;
}
@media (any-hover: hover) {
  .bt:hover {
    background-color: color-mix(in srgb, var(--wc-bt-bg-hover), transparent 30%);
    transform: translate(2px);
    box-shadow: 0 0 10px color-mix(in srgb, var(--wc-text-color), transparent 85%), inset 0 0 8px 1px color-mix(in srgb, var(--wc-text-color), transparent 88%);
  }
  .bt:hover::before {
    transform: translateX(2px);
  }
}
.bt:active {
  color: var(--wc-active-text);
  background-color: var(--wc-bt-bg-hover);
}
.bt:disabled, .bt.disabled {
  color: var(--wc-bt-color-disabled);
  pointer-events: none;
  background: color-mix(in srgb, var(--wc-text-color), transparent 100%);
}

.bt-light {
  color: var(--wc-black);
  background-color: var(--wc-gray-100);
}
@media (any-hover: hover) {
  .bt-light:hover {
    background-color: var(--wc-gray-200);
  }
}
.bt-light:active {
  color: var(--wc-gray-800);
  background-color: var(--wc-gray);
}

.bt-sm {
  gap: 6px;
  padding: 10px 18px;
  font-size: 14px;
  border-radius: 6px;
}
.bt-sm::before {
  font-size: 18px;
}

.bt-ic {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--wc-text-color);
  z-index: 3;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  box-shadow: inset 0 0 8px 1px color-mix(in srgb, var(--wc-text-color), transparent 88%);
  background: color-mix(in srgb, var(--wc-text-color), transparent 92%);
  border: 1px solid color-mix(in srgb, var(--wc-text-color), transparent 85%);
  transition: color 0.3s ease 0s, background 0.3s ease 0s;
}
.bt-ic::before {
  font-size: 20px;
}
@media (any-hover: hover) {
  .bt-ic:hover {
    color: var(--wc-hover-text);
    background: color-mix(in srgb, var(--wc-text-color), transparent 85%);
  }
}
.bt-ic:active {
  background: color-mix(in srgb, var(--wc-text-color), transparent 65%);
}
.bt-ic:disabled, .bt-ic.disabled {
  color: var(--wc-bt-color-disabled);
  pointer-events: none;
  background: color-mix(in srgb, var(--wc-text-color), transparent 100%);
}
.bt-ic.bt-lg {
  width: 56px;
  height: 56px;
  font-size: 20px;
}
.bt-ic.bt-lg::before {
  font-size: 32px;
}

.bt-menu {
  display: none;
}
@media (max-width: 991.98px) {
  .bt-menu {
    display: block;
    position: relative;
    width: 36px;
    height: 40px;
    cursor: pointer;
    z-index: 5;
    background-color: transparent;
  }
  .bt-menu span {
    top: 50%;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--wc-text-color);
    border-radius: 36px;
    transition: transform 0.25s ease 0.25s, top 0.25s ease 0.25s, bottom 0.25s ease 0.25s, width 0.25s ease 0s;
  }
  .bt-menu span:not(:first-child, :last-child) {
    left: 50%;
    width: calc(100% - 10px);
    transform: translate(-50%, -50%);
  }
  .bt-menu span:first-child {
    top: 7px;
  }
  .bt-menu span:last-child {
    top: auto;
    bottom: 7px;
  }
  .bt-menu._active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .bt-menu._active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
  .bt-menu._active span:nth-child(2) {
    width: 0;
  }
}

.bt-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  box-shadow: inset 0 0 8px 1px color-mix(in srgb, var(--wc-text-color), transparent 88%);
  background: color-mix(in srgb, var(--wc-text-color), transparent 92%);
  border: 1px solid color-mix(in srgb, var(--wc-gray-600), transparent 50%);
  color: var(--wc-gray-600);
}
@media (any-hover: hover) {
  .bt-top:hover {
    color: var(--wc-white);
  }
}
@media (max-width: 479.98px) {
  .bt-top {
    bottom: 10px;
    right: 10px;
    width: 36px;
    height: 36px;
    background: var(--wc-gray-700);
    color: var(--wc-white);
  }
}

.card {
  width: 100%;
  position: relative;
  transform: scale(0);
  backface-visibility: hidden;
  will-change: transform, opacity;
}
@media (any-hover: hover) {
  .card:hover .card__hover {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
}
.card.animate {
  animation: fadeInUp 0.6s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
}
.card__item {
  position: relative;
  height: auto;
  overflow: hidden;
  box-shadow: 0 0 5px color-mix(in srgb, var(--wc-black), transparent 50%);
}
.card:nth-child(4n+1) .card__img {
  padding-bottom: 85%;
}
@media (max-width: 620px) {
  .card:nth-child(4n+1) .card__img {
    padding-bottom: 65%;
  }
}
.card:nth-child(4n+2) .card__img {
  padding-bottom: 65%;
}
@media (max-width: 620px) {
  .card:nth-child(4n+2) .card__img {
    padding-bottom: 65%;
  }
}
.card:nth-child(4n+3) .card__img {
  padding-bottom: 65%;
}
@media (max-width: 620px) {
  .card:nth-child(4n+3) .card__img {
    padding-bottom: 65%;
  }
}
.card:nth-child(4n) .card__img {
  padding-bottom: 85%;
}
@media (max-width: 991.98px) {
  .card:nth-child(4n) .card__img {
    padding-bottom: 65%;
  }
}
@media (max-width: 620px) {
  .card:nth-child(4n) .card__img {
    padding-bottom: 65%;
  }
}
.card__img {
  transition: all 0.3s ease 0s;
  padding: 0px 0px 55% 0px;
}
.card__hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: color-mix(in srgb, var(--wc-bg-body), transparent 10%);
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  align-items: center;
  transition: all 0.5s ease 0s;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
}
@media (max-width: 1182px) {
  .card__hover {
    position: static;
    padding: 8px;
    gap: 20px;
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    height: auto;
  }
}
.card__label {
  letter-spacing: 0.45em !important;
  display: inline-block;
  transition: all 0.3s ease 0s;
}
@media (max-width: 1182px) {
  .card__label {
    font-size: 14px;
    text-align: left;
    align-self: flex-start;
    margin-left: 8px;
  }
}
@media (max-width: 479.98px) {
  .card__label {
    font-size: 13px;
    line-height: 160%;
  }
}
.card__text {
  letter-spacing: 0.05em;
  color: var(--wc-text-color);
  font-size: 16px;
  line-height: 120%;
  --clamp-line: 5;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--clamp-line);
  white-space: normal;
  height: 76px;
  display: -webkit-box;
}
@media (max-width: 1182px) {
  .card__text {
    font-size: 14px;
    line-height: 110%;
    flex: 0 0 auto;
    text-align: left;
  }
}
@media (max-width: 479.98px) {
  .card__text {
    height: auto;
    display: block;
    overflow: visible;
    --clamp-line: auto;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: scale(0) translateY(10px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
.card-inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
@media (max-width: 767.98px) {
  .card-inner {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }
}
@media (max-width: 479.98px) {
  .card-inner {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card-prev {
  height: 100%;
  box-shadow: 0 0 5px color-mix(in srgb, var(--wc-black), transparent 60%);
}
.card-prev__container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.card-prev__img {
  padding-bottom: 55%;
}
.card-prev__row {
  flex-grow: 1;
  padding: 12px 20px;
  background-color: var(--wc-gray-700);
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: flex-start;
}
@media (max-width: 479.98px) {
  .card-prev__title {
    font-size: 14px;
  }
}
.card-prev .bt {
  margin-top: auto;
}

.title-card {
  letter-spacing: 0.2em;
  color: var(--wc-primary);
  font-weight: 500;
}
.title-card span {
  position: relative;
}
.title-card span::before {
  content: "";
  height: 2px;
  background-color: var(--wc-primary);
  width: 23px;
  position: absolute;
  bottom: -5px;
  left: 0;
}

._touch .card__hover {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  position: static;
  height: auto;
}

.item-about {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 28px 24px;
  border-radius: 12px;
  background-color: color-mix(in srgb, var(--wc-secondary), transparent 90%);
  box-shadow: 0 4px 6px 0 color-mix(in srgb, var(--wc-text-color), transparent 85%);
}
@media (max-width: 767.98px) {
  .item-about {
    gap: 16px;
    padding: 16px 12px;
  }
}
.item-about--large {
  grid-column: auto/span 2;
}
@media (max-width: 991.98px) {
  .item-about--large {
    grid-column: auto/span 1;
  }
}
.item-about:last-child {
  grid-column: auto/span 3;
}
@media (max-width: 991.98px) {
  .item-about:last-child {
    grid-column: auto/span 2;
  }
}
@media (max-width: 479.98px) {
  .item-about:last-child {
    grid-column: auto/span 1;
  }
}
.item-about__icons {
  display: flex;
  margin-top: auto;
}
.item-about__img {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: inset 0 0 8px 1px color-mix(in srgb, var(--wc-white), transparent 88%);
  background: var(--wc-item-bg);
  border: 1px solid color-mix(in srgb, var(--wc-white), transparent 85%);
}
@media (max-width: 767.98px) {
  .item-about__img {
    width: 42px;
    height: 42px;
  }
}
.item-about__img:not(:first-child) {
  margin-left: -6px;
}
@media (max-width: 767.98px) {
  .item-about__img:not(:first-child) {
    margin-left: -5px;
  }
}
.item-about__img img {
  max-width: 100%;
  width: 32px;
  height: 32px;
}
@media (max-width: 767.98px) {
  .item-about__img img {
    width: 24px;
    height: 24px;
  }
}
.item-about__title {
  margin-bottom: 4px;
  font-size: 20px;
  text-transform: uppercase;
}
@media (max-width: 767.98px) {
  .item-about__title {
    font-size: 16px;
  }
}
.item-about__text {
  line-height: 133%;
  letter-spacing: 0.02em;
  font-size: 18px;
}
@media (max-width: 767.98px) {
  .item-about__text {
    font-size: 15px;
  }
}

.pagination {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.pagination__bt {
  letter-spacing: -0.02em;
  line-height: 1;
  color: var(--wc-text-color);
  border: 1px solid var(--wc-text-color);
  font-size: 16px;
  height: 36px;
  width: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.3s ease 0s;
  background-color: transparent;
}
@media (max-width: 767.98px) {
  .pagination__bt {
    height: 44px;
    width: 44px;
  }
}
.pagination__bt::before {
  font-size: 24px;
}
@media (any-hover: hover) {
  .pagination__bt:hover {
    background-color: var(--wc-blur-bg);
  }
}
.pagination__bt.active {
  border-width: 1px;
  border-color: var(--wc-primary);
}
.pagination__bt:disabled {
  color: var(--wc-gray-600);
  background-color: color-mix(in srgb, var(--wc-gray-600), transparent 50%);
  border-color: transparent;
  pointer-events: none;
}
.pagination__list {
  display: flex;
  margin: 0px 2px;
}
.logo,
.logo-mob {
  position: relative;
  z-index: 5;
}
.logo svg,
.logo-mob svg {
  display: block;
  width: 100%;
}

.logo {
  flex: 0 0 164px;
  display: block;
}
@media (max-width: 767.98px) {
  .logo {
    margin: 0px auto 0px 0px;
    flex: 0 0 150px;
  }
}
@media (max-width: 479.98px) {
  .logo {
    display: none;
  }
}

.logo-mob {
  display: none;
}
@media (max-width: 479.98px) {
  .logo-mob {
    display: block;
    margin: 0px auto 0px 0px;
    flex: 0 0 75px;
  }
}

.badge {
  background-color: var(--wc-secondary);
  box-shadow: 0 4px 6px 0 color-mix(in srgb, var(--wc-text-color), transparent 85%);
  border-radius: 24px;
  min-width: 160px;
  height: 90px;
  position: relative;
}
@media (max-width: 767.98px) {
  .badge {
    min-width: 120px;
    height: 75px;
    border-radius: 16px;
  }
}
.badge__inner {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767.98px) {
  .badge__inner {
    padding: 16px;
  }
}
.badge__img {
  position: absolute;
  top: 0;
  left: 50%;
  border: 8px solid var(--wc-bg-body);
  overflow: hidden;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--wc-white);
}
@media (max-width: 767.98px) {
  .badge__img {
    border-width: 5px;
  }
}
.badge__img img {
  transform: scale(0.9);
  width: 56px;
  height: 56px;
}
@media (max-width: 767.98px) {
  .badge__img img {
    width: 44px;
    height: 44px;
  }
}
.badge__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 136%;
  margin-top: 22px;
}
@media (max-width: 767.98px) {
  .badge__text {
    font-size: 16px;
  }
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  transition: visibility 0.5s ease 0s;
  visibility: hidden;
}
.popup::before {
  content: "";
  background: color-mix(in srgb, var(--wc-black), transparent 10%);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease 0s;
}
.popup.show {
  visibility: visible;
  overflow: auto;
}
.popup.show::before {
  opacity: 1;
}
.popup.show .popup__body {
  transform: scale(1);
}
.popup._active {
  overflow: auto;
  visibility: visible;
}
.popup._active::before {
  opacity: 1;
}
.popup._active .popup__body {
  transition: transform 0.3s ease 0.2s;
  transform: scale(1);
}
.popup__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup__body {
  transform: scale(0);
  transition: transform 0.3s ease 0s;
  background-color: var(--wc-bg-body);
  padding: 50px;
  width: 100%;
  max-width: 1170px;
}
@media (max-width: 1182px) {
  .popup__body {
    padding: 30px 20px;
  }
}
.popup__close {
  background-color: transparent;
  font-size: 24px;
  line-height: 1;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  z-index: 30;
  color: var(--wc-text-color);
}

.popup_success .popup__body {
  max-width: 620px;
  padding: 25px;
}

.title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin: 0px 0px 30px 0px;
  letter-spacing: 2px;
  color: var(--wc-text-color);
}
.title::after {
  content: "";
  padding: 5px;
  background-color: var(--wc-primary);
  border-radius: 50%;
  display: inline-block;
}
.title_white {
  color: rgba(255, 255, 255, 0.877);
}
@media (max-width: 767.98px) {
  .title {
    font-size: 22px;
    margin: 0px 0px 10px 0px;
  }
  .title::after {
    padding: 3px;
  }
}

h1.title {
  font-size: 52px;
  line-height: 130%;
}
h1.title::after {
  padding: 7px;
}
@media (max-width: 991.98px) {
  h1.title {
    font-size: 32px;
  }
  h1.title::after {
    padding: 5px;
  }
}
@media (max-width: 767.98px) {
  h1.title {
    font-size: 24px;
  }
  h1.title::after {
    padding: 4px;
  }
}

._ibg {
  position: relative;
}
._ibg img,
._ibg svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._tabs-block {
  display: none;
}
._tabs-block._active {
  display: block;
}

.header {
  position: fixed;
  z-index: 2;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  height: 60px;
  width: 100%;
  max-width: 1120px;
}
@media (max-width: 1182px) {
  .header {
    width: calc(100% - 46px);
  }
}
@media (max-width: 767.98px) {
  .header {
    height: 52px;
    width: calc(100% - 18px);
  }
}
.header__content {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 40px;
  height: 100%;
  background: var(--wc-blur-bg);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  border-radius: 12px;
}
@media (max-width: 1182px) {
  .header__content {
    gap: 30px;
  }
}
@media (max-width: 767.98px) {
  .header__content {
    padding: 4px 12px;
  }
}
@media (max-width: 479.98px) {
  .header__content {
    gap: 20px;
    padding: 4px 8px;
  }
}
.header__btns {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
  position: relative;
  z-index: 5;
}
@media (max-width: 767.98px) {
  .header__btns {
    flex: 0 0 auto;
    align-self: center;
  }
}
@media (max-width: 479.98px) {
  .header__btns {
    gap: 12px;
  }
}
.menu {
  flex: 1 0 auto;
  height: auto;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 5;
}
@media (max-width: 991.98px) {
  .menu {
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
    position: fixed;
    left: 0;
    top: 70px;
    transform: translateY(15px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: 100%;
    height: calc(100vh - 100px);
    height: calc(100dvh - 100px);
    background: color-mix(in srgb, var(--wc-select-options-bg), transparent 0%);
    border: 1px solid color-mix(in srgb, var(--wc-text-color), transparent 85%);
    box-shadow: inset 0 0 8px 1px color-mix(in srgb, var(--wc-text-color), transparent 88%);
    border-radius: 12px;
    padding: 40px 20px 40px 20px;
    transition: transform 0.6s ease 0s, opacity 0.6s ease 0s, visibility 0.6s ease 0s;
    overflow: auto;
    z-index: 2;
  }
  .menu._active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}
@media (max-width: 767.98px) {
  .menu {
    top: 62px;
  }
}
.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
@media (max-width: 991.98px) {
  .menu__list {
    display: block;
  }
}
@media (max-width: 991.98px) {
  .menu__item:not(:last-child) {
    margin: 0px 0px 40px 0px;
  }
}
.menu__btns-mob {
  display: none;
}
@media (max-width: 991.98px) {
  .menu__btns-mob {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
  }
}
.menu__link {
  font-size: 16px;
  font-weight: 400;
  color: var(--wc-menu-link-color);
  transition: color 0.3s ease 0s;
  position: relative;
  padding: 5px 0;
}
.menu__link::after {
  content: "";
  border-radius: 50px;
  width: 0;
  height: 1px;
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--wc-hover-text);
  transition: width 0.25s linear 0s;
}
.menu__link._active {
  color: var(--wc-active-text);
}
.menu__link._active::after {
  width: 75%;
}
@media (max-width: 991.98px) {
  .menu__link {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    display: block;
  }
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: var(--wc-hover-text);
  }
  .menu__link:hover::after {
    width: 75%;
  }
}

.footer {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}
@media (max-width: 767.98px) {
  .footer {
    height: 60px;
  }
}
.footer__link {
  color: #b2b3b3;
  display: block;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .footer__link:hover {
    color: #fff;
  }
}
@media (max-width: 479.98px) {
  .footer__link {
    font-size: 14px;
  }
}
.footer__link-name {
  font-weight: 700;
}

.hero {
  padding: 60px 0;
}
@media (max-width: 767.98px) {
  .hero {
    padding: 30px 0;
  }
}
.hero__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
@media (max-width: 991.98px) {
  .hero__content {
    gap: 20px;
  }
}
@media (max-width: 479.98px) {
  .hero__content {
    flex-direction: column;
  }
}
.hero__info {
  flex: 0 1 496px;
}
@media (max-width: 479.98px) {
  .hero__info {
    flex: 0 1 auto;
    width: 100%;
    text-align: center;
  }
}
.hero__title {
  text-align: left;
  margin-bottom: 22px !important;
}
@media (max-width: 479.98px) {
  .hero__title {
    margin-bottom: 16px;
    text-align: center;
  }
}
.hero__label {
  color: var(--wc-gray-600);
  margin-bottom: 22px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
}
@media (max-width: 991.98px) {
  .hero__label {
    font-size: 16px;
  }
}
@media (max-width: 479.98px) {
  .hero__label {
    margin-bottom: 16px;
    font-size: 14px;
  }
}
.hero__img {
  flex: 0 1 400px;
}
.hero__img img {
  width: 100%;
}
@media (max-width: 479.98px) {
  .hero__img {
    flex: 0 1 auto;
    padding: 0 32px;
  }
}
.hero__actions {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  gap: 48px 12px;
  flex-wrap: wrap;
}
@media (max-width: 479.98px) {
  .hero__actions {
    margin-top: 50px;
  }
}

.portfolio {
  padding: 40px 0px;
}
@media (max-width: 767.98px) {
  .portfolio {
    padding: 20px 0px;
  }
}
.portfolio__nav {
  margin: 0px 0px 30px 0px;
}
@media (max-width: 767.98px) {
  .portfolio__nav {
    margin: 0px 0px 20px 0px;
  }
}
.portfolio__content {
  --gap: 10px;
  column-count: 3;
  column-gap: var(--gap);
  margin-bottom: calc(var(--gap) * -1);
}
@media (max-width: 991.98px) {
  .portfolio__content {
    column-count: 2;
  }
}
@media (max-width: 479.98px) {
  .portfolio__content {
    column-count: 1;
  }
}
.portfolio__card {
  break-inside: avoid;
  padding-bottom: var(--gap);
}

.nav-portfolio__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.nav-portfolio__item {
  margin-right: 32px;
  position: relative;
}
@media (max-width: 767.98px) {
  .nav-portfolio__item {
    margin-right: 10px;
    padding: 7px 5px;
  }
}
.nav-portfolio__item:last-child {
  margin-right: 0px;
}
.nav-portfolio__link {
  font-size: 16px;
  color: var(--wc-text-color);
}
.nav-portfolio__link.active {
  color: var(--wc-primary);
}
.nav-portfolio__link.active::before {
  visibility: visible;
  transform: translate(-50%, 0) scale(1);
}
@media (min-width: 767.98px) {
  .nav-portfolio__link:hover::before {
    visibility: visible;
    transform: translate(-50%, 0) scale(1);
  }
}
.nav-portfolio__link::before {
  content: "";
  visibility: hidden;
  transition: all 0.4s ease 0s;
  width: 38px;
  height: 2px;
  background-color: var(--wc-primary);
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0) scale(0);
  bottom: -10px;
}
@media (max-width: 767.98px) {
  .nav-portfolio__link::before {
    bottom: -2px;
  }
}

.about {
  position: relative;
  overflow: hidden;
  padding: 60px 0px 60px 0px;
}
@media (max-width: 767.98px) {
  .about {
    padding: 40px 0px 40px 0px;
  }
}
.about__container {
  position: relative;
  z-index: 1;
}
.about__label {
  text-align: center;
  max-width: 540px;
  margin: 0 auto;
  line-height: 140%;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  color: var(--wc-text-color);
}
@media (max-width: 767.98px) {
  .about__label {
    font-size: 14px;
  }
}
.about__grid {
  margin-top: 36px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
@media (max-width: 991.98px) {
  .about__grid {
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 479.98px) {
  .about__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
.paralax {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}
@media (max-width: 1182px) {
  .paralax {
    display: none;
  }
}
.paralax__item {
  position: absolute;
  width: 100%;
  height: 200%;
  left: 0;
  top: 0;
}
.paralax__img {
  height: 50px;
  width: 50px;
  position: absolute;
}
@media (max-width: 1340px) {
  .paralax__img {
    opacity: 0.65;
  }
}
.paralax__img_position-1 {
  left: 25%;
  top: 2%;
}
.paralax__img_position-2 {
  left: 9%;
  top: 9%;
}
.paralax__img_position-3 {
  left: 88%;
  top: 13%;
}
.paralax__img_position-4 {
  left: 5%;
  top: 30%;
}
.paralax__img_position-5 {
  left: 5%;
  top: 15%;
}
.paralax__img_position-6 {
  left: 86%;
  top: 35%;
}
.paralax__img_position-7 {
  left: 68%;
  top: 90%;
}
.paralax__img_position-8 {
  left: 76%;
  top: 85%;
}
.paralax__img_position-9 {
  left: 2%;
  top: 63%;
}
.paralax__img_position-10 {
  left: 90%;
  top: 51%;
}
.paralax__img_position-11 {
  left: 4%;
  top: 55%;
}
.paralax__img_position-12 {
  left: 50%;
  top: 88%;
}
.paralax__img_position-13 {
  left: 36%;
  top: 87%;
}
.paralax__img_position-14 {
  left: 8%;
  top: 42%;
}
.paralax__img_position-15 {
  left: 82%;
  top: 7%;
}
.paralax__img_position-16 {
  left: 90%;
  top: 25%;
}

.contacts {
  background: url("../img/contact/contacts-bg.jpg") center bottom/cover no-repeat fixed;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 160px 0px 160px 0px;
}
@media (max-width: 767.98px) {
  .contacts {
    padding: 80px 0px 80px 0px;
  }
}
@media (max-width: 479.98px) {
  .contacts {
    padding: 40px 0px 40px 0px;
  }
}
.contacts::before {
  content: "";
  background-color: color-mix(in srgb, var(--wc-black), transparent 30%);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 0;
}
.contacts__container {
  position: relative;
  flex: 1 1 auto;
  z-index: 1;
}
.contacts__label {
  color: var(--wc-gray-100);
  font-size: 18px;
  text-align: center;
  line-height: 125%;
  max-width: 680px;
  margin: 0 auto;
  margin-bottom: 4px;
}
@media (max-width: 767.98px) {
  .contacts__label {
    font-size: 16px;
    margin-bottom: 0;
  }
}
@media (max-width: 479.98px) {
  .contacts__label {
    font-size: 14px;
  }
}
.contacts__links {
  padding: 20px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 20px;
}
@media (max-width: 991.98px) {
  .contacts__links {
    padding: 20px 10px;
  }
}
@media (max-width: 479.98px) {
  .contacts__links {
    grid-template-columns: 1fr;
    gap: 12px;
  }
}
.contacts__link {
  padding: 12px 16px;
  width: 100%;
  letter-spacing: 0.05em;
  color: var(--wc-gray-100);
  line-height: 120%;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid var(--wc-gray-600);
  transition: box-shadow 0.3s ease 0s, color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .contacts__link:hover {
    box-shadow: 0 0 6px color-mix(in srgb, var(--wc-white), transparent 60%);
    color: var(--wc-white);
  }
}
.contacts__text {
  flex: 1 1 auto;
  display: inline-flex;
}
.contacts__icon {
  font-size: 32px;
}
.contacts__arrow {
  font-size: 24px;
  color: var(--wc-primary);
}

.form-page {
  padding: 80px 20px;
}
@media (max-width: 767.98px) {
  .form-page {
    padding: 60px 10px;
  }
}
@media (max-width: 479.98px) {
  .form-page {
    padding: 40px 10px;
  }
}
.night-theme {
  --wc-text-color: var(--wc-gray-200);
  --wc-bg-body: #222;
  --wc-blur-bg: rgba(50, 50, 50, 0.75);
  --wc-menu-link-color: var(--wc-text-color);
  --wc-active-text: var(--wc-white);
  --wc-hover-text: var(--wc-white);
  --wc-logo-fill: var(--wc-white);
  --wc-logo-dark: var(--wc-white);
  --wc-logo-light: var(--wc-black);
  --wc-select-options-bg: #2d2d2d;
  --wc-bt-color: var(--wc-white);
  --wc-bt-color-disabled: var(--wc-gray-700);
  --wc-item-bg: var(--wc-gray-800);
  --wc-input-color: var(--wc-bt-color);
  --wc-input-box-shadow: var(--wc-text-color);
  --wc-input-bg: var(--wc-text-color);
  --wc-input-border-color: var(--wc-text-color);
  --wc-input-placeholder-color: var(--wc-gray-600);
  --wc-scroll-bg: var(--wc-gray-900);
}