@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-git:before {
  content: "\e901";
}

._icon-gulp:before {
  content: "\e902";
}

._icon-mail:before {
  content: "\e903";
}

._icon-scss:before {
  content: "\e904";
}

._icon-tekegram:before {
  content: "\e900";
}

._icon-call:before {
  content: "\e905";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "OpenSans", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "OpenSans", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 18px;
  font-weight: 400;
}
body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}
._container {
  max-width: 1170px;
  margin: 0 auto;
}
@media (max-width: 1182px) {
  ._container {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}

.select {
  position: relative;
}
.select__item {
  position: relative;
}
.select__title {
  color: #777777;
  cursor: pointer;
  background-color: #333333;
}
.select__value {
  display: flex;
  font-size: 13px;
  height: 30px;
  padding: 0px 15px 0px 5px;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.select__value:before {
  content: "\e900";
  font-family: "icons";
  display: inline-block;
  transition: all 0.3s ease 0s;
  font-size: 13px;
  margin: 0px 0px 0px 8px;
}
.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}
.select__options {
  display: none;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #333333;
  border-top: 0;
  border-top: 0;
  font-size: 13px;
  padding: 10px 0px 5px 0px;
}
@media (max-width: 991.98px) {
  .select__options {
    font-size: 18px;
  }
}
.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}
@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }
}
.select._active {
  z-index: 5;
}
.select._active .select__value:before {
  transform: rotate(-180deg);
}
.select._active .select__options {
  display: block;
}

.header__select {
  color: #333333;
  position: relative;
}

.title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin: 0px 0px 30px 0px;
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 0.795);
}
.title_white {
  color: rgba(255, 255, 255, 0.877);
}
@media (max-width: 767.98px) {
  .title {
    font-size: 22px;
    margin: 0px 0px 10px 0px;
  }
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._tabs-block {
  display: none;
}
._tabs-block._active {
  display: block;
}

.header {
  height: 120px;
  background: url("../img/header/header-bg.jpg") 0 0/cover no-repeat;
}
.header::before {
  content: "";
  width: 100%;
  height: 120px;
  background-color: rgba(58, 121, 158, 0.45);
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 767.98px) {
  .header::before {
    height: 80px;
  }
}
@media (max-width: 767.98px) {
  .header {
    height: 80px;
  }
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header__logo {
  flex: 0 0 80px;
  height: auto;
  display: block;
  border: 2.5px solid rgb(161, 167, 161);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 3;
  margin: 0px 20px 0px 0px;
}
@media (max-width: 767.98px) {
  .header__logo {
    flex: 0 0 60px;
  }
}
.header__logo img {
  max-width: 100%;
}
.header__contakts {
  flex: 0 1 auto;
  margin-left: 20px;
}
@media (max-width: 767.98px) {
  .header__contakts {
    display: flex;
    align-items: center;
    margin: 0px 25px 0px 0px;
  }
}
.header__linkc {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: rgb(223, 231, 224);
  transition: all 0.4s ease 0s;
  z-index: 3;
  position: relative;
  margin: 0px 0px 15px 0px;
  font-size: 24px;
}
@media (max-width: 767.98px) {
  .header__linkc {
    margin: 0px 25px 0px 0px;
    font-size: 32px;
  }
}
.header__linkc:last-child {
  margin: 0;
}
.header__linkc span {
  display: block;
  position: relative;
  font-size: 18px;
  margin: 0px 0px 0px 10px;
}
@media (max-width: 991.98px) {
  .header__linkc span {
    font-size: 16px;
  }
}
@media (max-width: 767.98px) {
  .header__linkc span {
    display: none;
  }
}
.header__linkc span::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -8px;
  left: 0;
  background-color: rgba(223, 231, 224, 0.8);
  transform: scale(0);
  transition: all 0.4s ease 0s;
}
@media (any-hover: hover) {
  .header__linkc span:hover {
    color: rgb(255, 255, 255);
  }
  .header__linkc span:hover::before {
    transform: scale(1);
  }
}

.menu {
  flex: 1 0 auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767.98px) {
  .menu {
    justify-content: flex-end;
    flex: 1 1 auto;
    margin: 0px 30px 0px 0px;
  }
}
@media (max-width: 767.98px) {
  .menu__body {
    position: absolute;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(58, 121, 158, 0.9);
    padding: 120px 20px 20px 40px;
    transition: all 0.8s ease 0s;
    overflow: auto;
    z-index: 2;
  }
  .menu__body::before {
    content: "";
    width: 100%;
    height: 80px;
    position: fixed;
    top: -100%;
    left: 0;
    background-color: rgb(58, 121, 158);
    z-index: 3;
  }
  .menu__body._active {
    top: 0;
  }
  .menu__body._active::before {
    top: 0;
  }
}
.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 767.98px) {
  .menu__list {
    display: block;
  }
}
.menu__item {
  margin: 0px 40px 0px 0px;
}
.menu__item:last-child {
  margin: 0px;
}
@media (max-width: 991.98px) {
  .menu__item {
    margin: 0px 15px 0px 0px;
  }
}
@media (max-width: 767.98px) {
  .menu__item {
    margin: 0px 0px 40px 0px;
  }
  .menu__item:last-child {
    margin: 0px;
  }
}
.menu__link {
  font-weight: 700;
  color: rgb(223, 231, 224);
  transition: all 0.5s ease 0s;
  position: relative;
  padding: 5px 15px;
  border: 1.5px solid transparent;
  border-radius: 20px;
}
@media (max-width: 991.98px) {
  .menu__link {
    padding: 5px 10px;
    font-size: 16px;
  }
}
@media (max-width: 767.98px) {
  .menu__link {
    font-size: 20px;
  }
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: rgb(255, 255, 255);
    border: 1.5px solid #fff;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 767.98px) {
  .icon-menu {
    display: block;
    position: relative;
    width: 35px;
    height: 25px;
    cursor: pointer;
    z-index: 5;
    background-color: inherit;
  }
  .icon-menu span {
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(223, 231, 224);
  }
  .icon-menu span:first-child {
    top: 0px;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }
  .icon-menu._active span {
    transform: scale(0);
  }
  .icon-menu._active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .icon-menu._active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.bt-lang {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: relative;
}

.page__arrow {
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease 0s;
  display: block;
  right: 30px;
  bottom: 15px;
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: rgba(70, 70, 70, 0.952);
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(124, 123, 123, 0.7);
}
@media (max-width: 767.98px) {
  .page__arrow {
    right: 10px;
    bottom: 60px;
    width: 35px;
    height: 35px;
  }
}
.page__arrow._active {
  opacity: 0.7;
  visibility: visible;
}
.page__arrow::before, .page__arrow::after {
  content: "";
  width: 25px;
  height: 5px;
  position: absolute;
  border-radius: 5px;
  z-index: 5;
  background-color: #fff;
  top: 40%;
}
@media (max-width: 767.98px) {
  .page__arrow::before, .page__arrow::after {
    width: 16px;
  }
}
.page__arrow::before {
  left: 5px;
  transform: rotate(-45deg);
}
.page__arrow::after {
  right: 5px;
  transform: rotate(45deg);
}
.page__portfolio {
  padding: 60px 0px;
}
@media (max-width: 767.98px) {
  .page__portfolio {
    padding: 20px 0px;
  }
}
.page__about {
  background-color: rgb(242, 242, 242);
  padding: 60px 0px 60px 0px;
}
@media (max-width: 767.98px) {
  .page__about {
    padding: 40px 0px 40px 0px;
  }
}
.page__contacts {
  padding: 80px 0px 160px 0px;
}
@media (max-width: 767.98px) {
  .page__contacts {
    padding: 40px 0px 100px 0px;
  }
}

.portfolio-page {
  background: url("../img/bg-2.jpg") 0 0/cover no-repeat;
}
.portfolio-page__nav {
  margin: 0px 0px 30px 0px;
}
@media (max-width: 767.98px) {
  .portfolio-page__nav {
    margin: 0px 0px 20px 0px;
  }
}
.portfolio-page__row {
  position: relative;
  width: 32.2%;
  height: auto;
  margin: 0.5% 0.5%;
}
@media (max-width: 767.98px) {
  .portfolio-page__row {
    width: 48%;
    margin: 1% 1%;
  }
}
@media (max-width: 380px) {
  .portfolio-page__row {
    width: 100%;
    margin: 1% 0;
  }
}
.portfolio-page__item {
  position: relative;
  height: auto;
  overflow: hidden;
}
.portfolio-page__item._hover .portfolio-page__hover {
  left: 0;
  visibility: visible;
  opacity: 1;
}
@media (any-hover: hover) {
  .portfolio-page__item:hover .portfolio-page__hover {
    left: 0;
    visibility: visible;
    opacity: 1;
  }
}
.portfolio-page__img {
  transition: all 0.3s ease 0s;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
@media (max-width: 380px) {
  .portfolio-page__img {
    padding: 0px 0px 55% 0px;
  }
}
.portfolio-page__img_height-1 {
  padding: 0px 0px 65% 0px;
}
.portfolio-page__img_height-2 {
  padding: 0px 0px 95% 0px;
}
.portfolio-page__img_height-3 {
  padding: 0px 0px 95% 0px;
}
.portfolio-page__img_height-4 {
  padding: 0px 0px 70% 0px;
}
.portfolio-page__img_height-5 {
  padding: 0px 0px 80% 0px;
}
.portfolio-page__img_height-6 {
  padding: 0px 0px 85% 0px;
}
.portfolio-page__img_height-7 {
  padding: 0px 0px 77% 0px;
}
.portfolio-page__img_height-8 {
  padding: 0px 0px 110% 0px;
}
.portfolio-page__img_height-9 {
  padding: 0px 0px 105% 0px;
}
@media (max-width: 767.98px) {
  .portfolio-page__img_height-9 {
    padding: 0px 0px 113% 0px;
  }
}
.portfolio-page__img_height-10 {
  padding: 0px 0px 70% 0px;
}
.portfolio-page__hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.5s ease 0s;
  left: -100%;
  visibility: hidden;
  opacity: 0;
}
@media (max-width: 1182px) {
  .portfolio-page__hover {
    padding: 5px;
  }
}
.portfolio-page__label-linck {
  letter-spacing: 0.2em;
  color: #19bd9a;
  display: inline-block;
  transition: all 0.3s ease 0s;
}
@media (max-width: 1182px) {
  .portfolio-page__label-linck {
    font-size: 14px;
  }
}
@media (max-width: 479.98px) {
  .portfolio-page__label-linck {
    font-size: 13px;
  }
}
@media (max-width: 620px) {
  .portfolio-page__label-linck {
    line-height: 160%;
  }
}
.portfolio-page__label-linck span {
  position: relative;
}
.portfolio-page__label-linck span::before {
  content: "";
  height: 1px;
  background-color: #19bd9a;
  width: 23px;
  position: absolute;
  bottom: -15px;
  left: 0;
  transition: all 0.6s ease 0s;
}
@media (max-width: 1182px) {
  .portfolio-page__label-linck span::before {
    bottom: -5px;
  }
}
@media (any-hover: hover) {
  .portfolio-page__label-linck:hover {
    color: #0cecbc;
  }
  .portfolio-page__label-linck:hover span::before {
    left: 100%;
    transform: translate(-100%, 0);
    background-color: #0cecbc;
  }
}
.portfolio-page__text {
  letter-spacing: 0.05em;
  color: #b2b3b3;
  font-size: 16px;
  line-height: 120%;
}
@media (max-width: 1182px) {
  .portfolio-page__text {
    font-size: 14px;
    line-height: 110%;
    flex: 0 0 auto;
  }
}
@media (max-width: 620px) {
  .portfolio-page__text {
    display: none;
  }
}
.portfolio-page__label-btn {
  display: inline-flex;
  padding: 9.5px 28.5px;
  font-size: 16px;
  color: #8fafaf;
  border: 1px solid #8fafaf;
  border-radius: 18.5px;
  transition: all 0.5s ease 0s;
}
@media (max-width: 479.98px) {
  .portfolio-page__label-btn {
    padding: 9.5px 18.5px;
  }
}
@media (any-hover: hover) {
  .portfolio-page__label-btn:hover {
    color: #fff;
    background-color: #19bd9a;
    transform: translate(2px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
}

.nav-portfolio__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.nav-portfolio__item {
  margin-right: 32px;
  position: relative;
}
@media (max-width: 767.98px) {
  .nav-portfolio__item {
    margin-right: 10px;
    padding: 7px 5px;
  }
}
.nav-portfolio__item:last-child {
  margin-right: 0px;
}
.nav-portfolio__link {
  font-size: 16px;
  color: #464646;
}
.nav-portfolio__link.active {
  color: #19bd9a;
}
.nav-portfolio__link.active::before {
  visibility: visible;
  transform: translate(-50%, 0) scale(1);
}
@media (min-width: 767.98px) {
  .nav-portfolio__link:hover::before {
    visibility: visible;
    transform: translate(-50%, 0) scale(1);
  }
}
.nav-portfolio__link::before {
  content: "";
  visibility: hidden;
  transition: all 0.4s ease 0s;
  width: 38px;
  height: 2px;
  background-color: #19bd9a;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0) scale(0);
  bottom: -12px;
}
@media (max-width: 767.98px) {
  .nav-portfolio__link::before {
    bottom: -2px;
  }
}

.about-page {
  position: relative;
}
.about-page__container {
  position: relative;
  z-index: 1;
}
.about-page__label {
  text-align: center;
  max-width: 540px;
  margin: 0 auto;
  line-height: 140%;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #494545;
}
@media (max-width: 767.98px) {
  .about-page__label {
    font-size: 14px;
  }
}
.about-page__study {
  margin: 30px 0px 30px 0px;
  border-bottom: 2px solid #464646;
  padding: 0px 0px 30px 0px;
}
@media (max-width: 767.98px) {
  .about-page__study {
    margin: 15px 0px 15px 0px;
  }
}
.study-about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.study-about-page__img {
  padding: 0px 0px 50% 0px;
  width: 100%;
  margin: 0px 0px 40px 0px;
}
@media (max-width: 1182px) {
  .study-about-page__img {
    width: 100%;
    padding: 0px 0px 49% 0px;
  }
}
.study-about-page__see {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  flex: 0 0 280px;
  height: 60px;
  display: flex;
  transition: all 0.8s ease 0s;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  position: relative;
}
@media (any-hover: hover) {
  .btn:hover {
    border-radius: 10px;
    transition: all 0.8s ease 0.2s;
  }
  .btn:hover .btn__waves {
    top: -50px;
  }
}
.btn__text {
  color: #464646;
  letter-spacing: 8px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}
.btn__waves {
  position: absolute;
  width: 280px;
  height: 280px;
  background-color: #19bd9a;
  top: 0;
  left: 0;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: all 0.8s ease 0s;
}
.btn__waves::before, .btn__waves::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 250%;
  height: 250%;
  transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
}
.btn__waves::before {
  background-color: rgb(243, 243, 243);
  border-radius: 48%;
  animation: waves 5s infinite linear;
}
.btn__waves::after {
  background-color: rgba(243, 243, 243, 0.5);
  opacity: 0.5;
  border-radius: 44%;
  animation: waves 10s infinite linear;
}
@keyframes waves {
  0% {
    transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  }
  100% {
    transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
  }
}

.tabs-about-page {
  display: flex;
}
.tabs-about-page__nav {
  display: flex;
  flex-direction: column;
}
@media (max-width: 767.98px) {
  .tabs-about-page__nav {
    flex: 0 0 60px;
  }
}
@media (max-width: 479.98px) {
  .tabs-about-page__nav {
    flex: 0 0 45px;
  }
}
.tabs-about-page__item {
  flex: 0 0 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 10px 10px 10px;
  border-radius: 50px 0px 0px 50px;
  background-color: rgba(110, 187, 187, 0.5);
  margin: 0px 0px 2px 0px;
  transition: all 0.3s ease 0s;
}
@media (max-width: 767.98px) {
  .tabs-about-page__item {
    padding: 0px 20px 0px 10px;
  }
}
@media (max-width: 479.98px) {
  .tabs-about-page__item {
    flex: 0 0 50px;
    width: 50px;
    padding: 0 5px 0 5px;
  }
}
.tabs-about-page__item._active {
  background-color: rgb(110, 187, 187);
  transform: translateX(5px);
}
.tabs-about-page__item._active .tabs-about-page__img {
  background-color: rgb(255, 255, 255);
  transform: scale(1.1);
}
.tabs-about-page__item:last-child {
  margin: 0;
}
.tabs-about-page__item img {
  max-width: 100%;
}
@media (max-width: 479.98px) {
  .tabs-about-page__item picture {
    width: 32px;
  }
}
.tabs-about-page__img {
  cursor: pointer;
  background-color: #b2b3b3;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.5s ease 0s;
  width: 60px;
  height: 60px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 479.98px) {
  .tabs-about-page__img {
    width: 40px;
    height: 40px;
  }
}
.tabs-about-page__body {
  flex: 1 1 auto;
}
.tabs-about-page__content {
  height: 100%;
  padding: 20px;
  border-radius: 0px 25px 25px 0px;
}
.tabs-about-page__content._active {
  background-color: rgb(110, 187, 187);
}
.tabs-about-page__label {
  color: #464646;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 0px 0px 20px 0px;
}
@media (max-width: 479.98px) {
  .tabs-about-page__label {
    margin: 0px 0px 10px 0px;
  }
}
.tabs-about-page__text {
  color: #000;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 150%;
}
@media (max-width: 479.98px) {
  .tabs-about-page__text {
    font-size: 14px;
    text-indent: 0;
    line-height: 120%;
  }
}

.paralax {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}
@media (max-width: 1182px) {
  .paralax {
    display: none;
  }
}
.paralax__item {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.paralax__img {
  height: 50px;
  width: 50px;
  position: absolute;
}
.paralax__img_position-1 {
  left: 25%;
  top: 2%;
}
.paralax__img_position-2 {
  left: 9%;
  top: 9%;
}
.paralax__img_position-3 {
  left: 88%;
  top: 13%;
}
.paralax__img_position-4 {
  left: 5%;
  top: 30%;
}
.paralax__img_position-5 {
  left: 5%;
  top: 15%;
}
.paralax__img_position-6 {
  left: 86%;
  top: 35%;
}
.paralax__img_position-7 {
  left: 68%;
  top: 90%;
}
.paralax__img_position-8 {
  left: 76%;
  top: 85%;
}
.paralax__img_position-9 {
  left: 2%;
  top: 63%;
}
.paralax__img_position-10 {
  left: 90%;
  top: 51%;
}
.paralax__img_position-11 {
  left: 4%;
  top: 55%;
}
.paralax__img_position-12 {
  left: 50%;
  top: 88%;
}
.paralax__img_position-13 {
  left: 36%;
  top: 87%;
}
.paralax__img_position-14 {
  left: 8%;
  top: 42%;
}
.paralax__img_position-15 {
  left: 72%;
  top: 8%;
}
.paralax__img_position-16 {
  left: 90%;
  top: 25%;
}

.contacts-page {
  background: url("../img/contact/contacts-bg.jpg") center bottom/cover no-repeat fixed;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 767.98px) {
  .contacts-page {
    min-height: 100vh;
  }
}
.contacts-page::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 0;
}
.contacts-page__container {
  position: relative;
  flex: 1 1 auto;
  z-index: 1;
}
@media (min-width: 767.98px) {
  .contacts-page__container {
    min-height: 100%;
  }
}
.contacts-page__links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-content: center;
  padding: 20px 0px;
  row-gap: 20px;
  column-gap: 40px;
}
@media (max-width: 1182px) {
  .contacts-page__links {
    grid-template-columns: 50% 50%;
    column-gap: 20px;
  }
}
@media (max-width: 991.98px) {
  .contacts-page__links {
    padding: 20px 10px;
  }
}
@media (max-width: 610px) {
  .contacts-page__links {
    grid-template-columns: 100%;
  }
}
@media (max-width: 479.98px) {
  .contacts-page__links {
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
  }
}
.contacts-page__item {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  transition: all 0.4s ease 0s;
  display: flex;
  align-items: center;
}
@media (any-hover: hover) {
  .contacts-page__item:hover {
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  }
  .contacts-page__item:hover:nth-child(even) {
    transform: translate(15px);
  }
  .contacts-page__item:hover:nth-child(odd) {
    transform: translate(-15px);
  }
  .contacts-page__item:hover .contacts-page__text {
    color: #fff;
  }
  .contacts-page__item:hover img {
    transform: scale(1.2);
  }
  .contacts-page__item:hover .contacts-page__icon {
    transform: scale(1.2);
  }
}
.contacts-page__item img {
  margin-right: 10px;
  height: 100%;
}
@media (max-width: 479.98px) {
  .contacts-page__item img {
    margin-right: 0;
  }
}
@media (max-width: 479.98px) {
  .contacts-page__item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}
.contacts-page__link {
  width: 100%;
  letter-spacing: 0.05em;
  color: #b2b3b3;
  font-size: 16px;
  line-height: 120%;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}
@media (max-width: 479.98px) {
  .contacts-page__link {
    justify-content: center;
    display: flex;
  }
}
.contacts-page__link img {
  transition: all 0.4s ease 0s;
}
.contacts-page__text {
  flex: 1 1 auto;
  display: inline-flex;
}
.contacts-page__text span {
  margin-right: 5px;
  width: auto;
}
@media (max-width: 1182px) {
  .contacts-page__text span {
    display: none;
  }
}
@media (max-width: 479.98px) {
  .contacts-page__text {
    display: none;
    margin-right: 0px;
  }
}
.contacts-page__icon {
  font-size: 26px;
  margin-right: 10px;
  background-color: royalblue;
  flex: 0 0 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease 0s;
  line-height: 100%;
}
@media (max-width: 479.98px) {
  .contacts-page__icon {
    margin-right: 0;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}
@media (max-width: 767.98px) {
  .footer {
    height: 60px;
  }
}
.footer__link {
  color: #b2b3b3;
  display: block;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .footer__link:hover {
    color: #fff;
  }
}
@media (max-width: 479.98px) {
  .footer__link {
    font-size: 14px;
  }
}
.footer__link-name {
  font-weight: 700;
}

.progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: rgb(233, 50, 50);
  z-index: 10;
  display: none;
}
.progress._scroll {
  display: block;
}

.page {
  flex: 1 1 auto;
}