<footer class="footer">
	<div class="footer__content _container">
		<a href="https://zakon.rada.gov.ua/laws/show/3792-12#Text" class="footer__link" target="_blank">
			Copyright © <span>Shupik Andrey</span> 2020-2024.
		</a>
	</div>
</footer>