<header class="header">
	<div class="header__content _container">
		<a href="#" class="header__logo"><img src="img/header/avatar.jpg" alt="Logo" /></a>
		<div class="header__menu menu">
			<nav class="menu__body">
				<ul class="menu__list">
					<li class="menu__item"><a href="#portfolio-page" class="menu__link _goto">Мои работы</a></li>
					<li class="menu__item"><a href="#about-page" class="menu__link _goto">Обо мне</a></li>
					<li class="menu__item"><a href="#contacts-page" class="menu__link _goto">Контакты</a></li>
				</ul>
			</nav>
		</div>
		<div class="header__contakts">
			<a href="mailto:foresteraws@gmail.com" class="header__linkc _icon-mail"><span>foresteraws@gmail.com</span></a>
			<a href="https://t.me/Andrey_Owl" class="header__linkc _icon-tekegram" target=" _blank"><span>Написать в telegram</span></a>
		</div>
		<select class="header__select" name="lang">
			<option value="ua" selected>UA</option>
			<option value="en">EN</option>
			<option value="ru">RU</option>
		</select>
		<button class="menu__icon icon-menu">
			<span></span>
			<span></span>
			<span></span>
		</button>
	</div>
</header>
