@use "vars" as *;
.portfolio {
	padding: 40px 0px;
	@media (max-width: ($md3 + px)) {
		padding: 20px 0px;
	}

	// .portfolio__nav

	&__nav {
		margin: 0px 0px 30px 0px;
		@media (max-width: #{($md3 + px)}) {
			margin: 0px 0px 20px 0px;
		}
	}

	// .portfolio__container

	&__container {
	}

	// .portfolio__title

	&__title {
	}

	// .portfolio__content

	&__content {
		--gap: 10px;
		column-count: 3;
		column-gap: var(--gap);
		margin-bottom: calc(var(--gap) * -1);
		@media (max-width: ($md2 + px)) {
			column-count: 2;
		}
		@media (max-width: 620px) {
			column-count: 1;
		}
	}

	// .portfolio__card

	&__card {
		break-inside: avoid;
		padding-bottom: var(--gap);
	}
}

.nav-portfolio {
	// .nav-portfolio__list

	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}

	// .nav-portfolio__item

	&__item {
		margin-right: 32px;
		position: relative;
		@media (max-width: #{($md3 + px)}) {
			margin-right: 10px;
			padding: 7px 5px;
		}
		&:last-child {
			margin-right: 0px;
		}
	}

	// .nav-portfolio__link

	&__link {
		font-size: 16px;
		color: var(--wc-text-color);
		&.active {
			color: var(--wc-primary);
			&::before {
				visibility: visible;
				transform: translate(-50%, 0) scale(1);
			}
		}
		@media (min-width: #{($md3 + px)}) {
			&:hover {
				&::before {
					visibility: visible;
					transform: translate(-50%, 0) scale(1);
				}
			}
		}
		&::before {
			content: "";
			visibility: hidden;
			transition: all 0.4s ease 0s;
			width: 38px;
			height: 2px;
			background-color: var(--wc-primary);
			position: absolute;
			left: 50%;
			transform: translate(-50%, 0) scale(0);
			bottom: -10px;
			@media (max-width: #{($md3 + px)}) {
				bottom: -2px;
			}
		}
	}
}
